# EDA for the age index

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

age = pd.read_parquet("../processed_data/age_index.parquet") # discard the data, not per LSOA

big_dataset = pd.read_parquet("../processed_data/big_dataset.parquet")

In [7]:
age

,Area,mnemonic,Aged 0 - 15,%,Aged 16 - 64,%.1,Aged 65 and over,%.2,Aged 16 - 59/64,%.3,...,%.19,Aged 70 - 74 years,%.20,Aged 75 - 79 years,%.21,Aged 80 - 84 years,%.22,Aged 85 and over,%.23,Sex
0,lacu2023:Barking and Dagenham,"E09000002""""",29239,27.0,70405,64.9,8763,8.1,70405,64.9,...,2.9,2095,1.9,1602,1.5,974,0.9,902,"0.8""",Male
1,lacu2023:Barnet,"E09000003""""",42306,22.1,122989,64.2,26424,13.8,122989,64.2,...,4.1,6563,3.4,5482,2.9,3261,1.7,3332,"1.7""",Male
2,lacu2023:Bexley,"E09000004""""",26278,21.7,76170,63.0,18498,15.3,76170,63.0,...,4.4,4480,3.7,3981,3.3,2424,2.0,2273,"1.9""",Male
3,lacu2023:Brent,"E09000005""""",33412,19.8,116269,69.0,18908,11.2,116269,69.0,...,3.8,4703,2.8,3309,2.0,2232,1.3,2176,"1.3""",Male
4,lacu2023:Bromley,"E09000006""""",33238,21.0,99006,62.4,26363,16.6,99006,62.4,...,4.6,6195,3.9,5947,3.7,3583,2.3,3361,"2.1""",Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,lacu2023:Tower Hamlets,E09000030,56403,17.2,253140,77.0,19083,5.8,248784,75.7,...,2.1,4824,1.5,3174,1.0,2137,0.7,2099,0.6,Total
98,lacu2023:Waltham Forest,E09000031,55655,20.2,190822,69.1,29503,10.7,184032,66.7,...,3.4,7096,2.6,5639,2.0,3774,1.4,3724,1.3,Total
99,lacu2023:Wandsworth,E09000032,52651,15.9,245972,74.2,32833,9.9,239098,72.1,...,2.9,8081,2.4,6552,2.0,4344,1.3,4307,1.3,Total
100,lacu2023:Westminster,E09000033,26509,12.5,158844,75.1,26155,12.4,153309,72.5,...,3.7,6284,3.0,5127,2.4,3431,1.6,3409,1.6,Total
101,gor:London,E12000007,1690386,18.9,6164468,68.9,1090455,12.2,5939654,66.4,...,3.7,261055,2.9,216526,2.4,140826,1.6,144057,1.6,Total

In [9]:
big_dataset

,column_0,column_1,Age Structure (2011 Census)|All Ages,0-15,16-29,30-44,45-64,65+,Working-age,Mid-year Estimate totals|All Ages,...,column_197,column_198,2011,column_200,column_201,column_202,2012,column_204,column_205,column_206
0,MSOA Code,MSOA Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002,...,Slight,2010 Total,Fatal,Serious,Slight,2011 Total,Fatal,Serious,Slight,2012 Total
1,E02000001,City of London 001,7375.0,620.0,1665.0,2045.0,2010.0,1035.0,5720.0,7280,...,334,374,0,46,359,405,2,51,361,414
2,E02000002,Barking and Dagenham 001,6775.0,1751.0,1277.0,1388.0,1258.0,1101.0,3923.0,6333,...,18,18,0,2,16,18,0,1,15,16
3,E02000003,Barking and Dagenham 002,10045.0,2247.0,1959.0,2300.0,2259.0,1280.0,6518.0,9236,...,34,37,1,4,40,45,0,3,47,50
4,E02000004,Barking and Dagenham 003,6182.0,1196.0,1277.0,1154.0,1543.0,1012.0,3974.0,6208,...,13,14,0,2,7,9,0,2,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,E02000980,Westminster 021,8684.0,1277.0,1946.0,2317.0,1993.0,1151.0,6256.0,7780,...,23,27,1,5,28,34,0,5,25,30
981,E02000981,Westminster 022,8991.0,913.0,2475.0,2781.0,1969.0,853.0,7225.0,8745,...,28,32,0,1,21,22,0,2,8,10
982,E02000982,Westminster 023,8226.0,1446.0,1689.0,2154.0,1835.0,1102.0,5678.0,7719,...,49,51,0,5,40,45,0,3,48,51
983,E02000983,Westminster 024,8434.0,1257.0,1749.0,2300.0,1834.0,1294.0,5883.0,9032,...,29,34,0,4,38,42,0,2,41,43
984,None,MSOA average for London,8315.0,1653.0,1873.0,2107.0,1762.0,920.0,5742.0,7504,...,26,29,0,3,27,30,0,3,26,29