In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

df = pd.read_parquet("../processed_data/filtered_lsoa_data.parquet")

In [2]:
df

,﻿|Level2_0|Codes,﻿|Level2_1|Names,Mid-year Population Estimates|All Ages|2001,Mid-year Population Estimates|All Ages|2002,Mid-year Population Estimates|All Ages|2003,Mid-year Population Estimates|All Ages|2004,Mid-year Population Estimates|All Ages|2005,Mid-year Population Estimates|All Ages|2006,Mid-year Population Estimates|All Ages|2007,Mid-year Population Estimates|All Ages|2008,...,Ethnic Group|Mixed/multiple ethnic groups (%)|2011,Ethnic Group|Asian/Asian British (%)|2011,Ethnic Group|Black/African/Caribbean/Black British (%)|2011,Ethnic Group|Other ethnic group (%)|2011,Ethnic Group|BAME (%)|2011,Tenure|Owned outright (%)|2011,Tenure|Owned with a mortgage or loan (%)|2011,Tenure|Social rented (%)|2011,Tenure|Private rented (%)|2011,"Dwelling type|Flat, maisonette or apartment (%)|2011"
0,E01000907,Camden 001A,1519.0,1538.0,1528.0,1547.0,1593.0,1492.0,1455.0,1457.0,...,"7,3","8,5","7,9","2,8","26,5","12,6","18,0","54,4","13,7","78,3"
1,E01000908,Camden 001B,1547.0,1577.0,1605.0,1637.0,1629.0,1598.0,1605.0,1526.0,...,"8,7","6,2","8,0","4,7","27,6","14,0","17,7","52,6","14,0","85,0"
2,E01000909,Camden 001C,1600.0,1598.0,1618.0,1634.0,1610.0,1635.0,1615.0,1584.0,...,"5,5","4,6","2,9","2,9","15,9","38,3","21,2","18,6","18,8","57,8"
3,E01000912,Camden 001D,1738.0,1728.0,1678.0,1707.0,1710.0,1669.0,1645.0,1618.0,...,"5,6","5,1","9,2","2,8","22,7","15,3","14,6","51,3","15,0","87,2"
4,E01000913,Camden 001E,1617.0,1676.0,1662.0,1714.0,1705.0,1690.0,1716.0,1657.0,...,"5,1","4,7","1,3","0,7","11,8","47,1","27,6","1,9","19,4","45,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004328,Waltham Forest 028B,1505.0,1542.0,1541.0,1557.0,1591.0,1654.0,1660.0,1755.0,...,"5,7","18,4","23,8","4,2","52,0","13,1","32,3","14,9","38,5","38,8"
4831,E01004329,Waltham Forest 028C,1493.0,1505.0,1503.0,1548.0,1571.0,1620.0,1669.0,1732.0,...,"4,0","24,1","28,4","3,1","59,6","13,7","33,2","15,1","36,2","21,0"
4832,E01004330,Waltham Forest 028D,1524.0,1447.0,1439.0,1504.0,1529.0,1576.0,1614.0,1684.0,...,"5,0","18,0","23,7","2,7","49,3","19,7","33,8","10,4","35,0","13,0"
4833,E01004331,Waltham Forest 028E,1490.0,1510.0,1513.0,1582.0,1587.0,1615.0,1656.0,1664.0,...,"7,2","21,3","30,5","2,5","61,5","16,1","26,2","21,0","34,7","21,8"
4834,E01004332,Waltham Forest 028F,1543.0,1575.0,1631.0,1616.0,1601.0,1619.0,1647.0,1693.0,...,"7,2","22,8","22,8","4,1","56,8","14,4","21,6","20,9","40,0","40,2"

In [3]:
df = df.drop(columns=['﻿|Level2_1|Names'])
df = df.rename(columns={'﻿|Level2_0|Codes': 'LSOA Code'})
df

,LSOA Code,Mid-year Population Estimates|All Ages|2001,Mid-year Population Estimates|All Ages|2002,Mid-year Population Estimates|All Ages|2003,Mid-year Population Estimates|All Ages|2004,Mid-year Population Estimates|All Ages|2005,Mid-year Population Estimates|All Ages|2006,Mid-year Population Estimates|All Ages|2007,Mid-year Population Estimates|All Ages|2008,Mid-year Population Estimates|All Ages|2009,...,Ethnic Group|Mixed/multiple ethnic groups (%)|2011,Ethnic Group|Asian/Asian British (%)|2011,Ethnic Group|Black/African/Caribbean/Black British (%)|2011,Ethnic Group|Other ethnic group (%)|2011,Ethnic Group|BAME (%)|2011,Tenure|Owned outright (%)|2011,Tenure|Owned with a mortgage or loan (%)|2011,Tenure|Social rented (%)|2011,Tenure|Private rented (%)|2011,"Dwelling type|Flat, maisonette or apartment (%)|2011"
0,E01000907,1519.0,1538.0,1528.0,1547.0,1593.0,1492.0,1455.0,1457.0,1421.0,...,"7,3","8,5","7,9","2,8","26,5","12,6","18,0","54,4","13,7","78,3"
1,E01000908,1547.0,1577.0,1605.0,1637.0,1629.0,1598.0,1605.0,1526.0,1528.0,...,"8,7","6,2","8,0","4,7","27,6","14,0","17,7","52,6","14,0","85,0"
2,E01000909,1600.0,1598.0,1618.0,1634.0,1610.0,1635.0,1615.0,1584.0,1560.0,...,"5,5","4,6","2,9","2,9","15,9","38,3","21,2","18,6","18,8","57,8"
3,E01000912,1738.0,1728.0,1678.0,1707.0,1710.0,1669.0,1645.0,1618.0,1593.0,...,"5,6","5,1","9,2","2,8","22,7","15,3","14,6","51,3","15,0","87,2"
4,E01000913,1617.0,1676.0,1662.0,1714.0,1705.0,1690.0,1716.0,1657.0,1663.0,...,"5,1","4,7","1,3","0,7","11,8","47,1","27,6","1,9","19,4","45,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004328,1505.0,1542.0,1541.0,1557.0,1591.0,1654.0,1660.0,1755.0,1734.0,...,"5,7","18,4","23,8","4,2","52,0","13,1","32,3","14,9","38,5","38,8"
4831,E01004329,1493.0,1505.0,1503.0,1548.0,1571.0,1620.0,1669.0,1732.0,1795.0,...,"4,0","24,1","28,4","3,1","59,6","13,7","33,2","15,1","36,2","21,0"
4832,E01004330,1524.0,1447.0,1439.0,1504.0,1529.0,1576.0,1614.0,1684.0,1689.0,...,"5,0","18,0","23,7","2,7","49,3","19,7","33,8","10,4","35,0","13,0"
4833,E01004331,1490.0,1510.0,1513.0,1582.0,1587.0,1615.0,1656.0,1664.0,1756.0,...,"7,2","21,3","30,5","2,5","61,5","16,1","26,2","21,0","34,7","21,8"
4834,E01004332,1543.0,1575.0,1631.0,1616.0,1601.0,1619.0,1647.0,1693.0,1667.0,...,"7,2","22,8","22,8","4,1","56,8","14,4","21,6","20,9","40,0","40,2"

In [4]:
for col in df.columns:
    print(col)

LSOA Code
Mid-year Population Estimates|All Ages|2001
Mid-year Population Estimates|All Ages|2002
Mid-year Population Estimates|All Ages|2003
Mid-year Population Estimates|All Ages|2004
Mid-year Population Estimates|All Ages|2005
Mid-year Population Estimates|All Ages|2006
Mid-year Population Estimates|All Ages|2007
Mid-year Population Estimates|All Ages|2008
Mid-year Population Estimates|All Ages|2009
Mid-year Population Estimates|All Ages|2010
Mid-year Population Estimates|All Ages|2011
Mid-year Population Estimates|All Ages|2012
Mid-year Population Estimates|All Ages|2013
Mid-year Population Estimates|Aged 0-15|2001
Mid-year Population Estimates|Aged 0-15|2002
Mid-year Population Estimates|Aged 0-15|2003
Mid-year Population Estimates|Aged 0-15|2004
Mid-year Population Estimates|Aged 0-15|2005
Mid-year Population Estimates|Aged 0-15|2006
Mid-year Population Estimates|Aged 0-15|2007
Mid-year Population Estimates|Aged 0-15|2008
Mid-year Population Estimates|Aged 0-15|2009
Mid-year Population Estimates|Aged 0-15|2010
Mid-year Population Estimates|Aged 0-15|2011
Mid-year Population Estimates|Aged 0-15|2012
Mid-year Population Estimates|Aged 0-15|2013
Mid-year Population Estimates|Aged 16-29|2001
Mid-year Population Estimates|Aged 16-29|2002
Mid-year Population Estimates|Aged 16-29|2003
Mid-year Population Estimates|Aged 16-29|2004
Mid-year Population Estimates|Aged 16-29|2005
Mid-year Population Estimates|Aged 16-29|2006
Mid-year Population Estimates|Aged 16-29|2007
Mid-year Population Estimates|Aged 16-29|2008
Mid-year Population Estimates|Aged 16-29|2009
Mid-year Population Estimates|Aged 16-29|2010
Mid-year Population Estimates|Aged 16-29|2011
Mid-year Population Estimates|Aged 16-29|2012
Mid-year Population Estimates|Aged 16-29|2013
Mid-year Population Estimates|Aged 30-44|2001
Mid-year Population Estimates|Aged 30-44|2002
Mid-year Population Estimates|Aged 30-44|2003
Mid-year Population Estimates|Aged 30-44|2004
Mid-year Population Estimates|Aged 30-44|2005
Mid-year Population Estimates|Aged 30-44|2006
Mid-year Population Estimates|Aged 30-44|2007
Mid-year Population Estimates|Aged 30-44|2008
Mid-year Population Estimates|Aged 30-44|2009
Mid-year Population Estimates|Aged 30-44|2010
Mid-year Population Estimates|Aged 30-44|2011
Mid-year Population Estimates|Aged 30-44|2012
Mid-year Population Estimates|Aged 30-44|2013
Mid-year Population Estimates|Aged 45-64|2001
Mid-year Population Estimates|Aged 45-64|2002
Mid-year Population Estimates|Aged 45-64|2003
Mid-year Population Estimates|Aged 45-64|2004
Mid-year Population Estimates|Aged 45-64|2005
Mid-year Population Estimates|Aged 45-64|2006
Mid-year Population Estimates|Aged 45-64|2007
Mid-year Population Estimates|Aged 45-64|2008
Mid-year Population Estimates|Aged 45-64|2009
Mid-year Population Estimates|Aged 45-64|2010
Mid-year Population Estimates|Aged 45-64|2011
Mid-year Population Estimates|Aged 45-64|2012
Mid-year Population Estimates|Aged 45-64|2013
Mid-year Population Estimates|Aged 65+|2001
Mid-year Population Estimates|Aged 65+|2002
Mid-year Population Estimates|Aged 65+|2003
Mid-year Population Estimates|Aged 65+|2004
Mid-year Population Estimates|Aged 65+|2005
Mid-year Population Estimates|Aged 65+|2006
Mid-year Population Estimates|Aged 65+|2007
Mid-year Population Estimates|Aged 65+|2008
Mid-year Population Estimates|Aged 65+|2009
Mid-year Population Estimates|Aged 65+|2010
Mid-year Population Estimates|Aged 65+|2011
Mid-year Population Estimates|Aged 65+|2012
Mid-year Population Estimates|Aged 65+|2013
Mid-year Population Estimates|Working-age|2001
Mid-year Population Estimates|Working-age|2002
Mid-year Population Estimates|Working-age|2003
Mid-year Population Estimates|Working-age|2004
Mid-year Population Estimates|Working-age|2005
Mid-year Population Estimates|Working-age|2006
Mid-year Population Estimates|Working-age|2007
Mid-year Population Estimates|Working-age|2008
Mid-year Population Estimates|Working-age|2009
Mid-year Population Estimates|Working-age|2010
Mid-year Population Estimates|Working-age|2011
Mid-year Population Estimates|Working-age|2012
Mid-year Population Estimates|Working-age|2013
Households|All households|2011
Household Composition|% Couple household with dependent children|2011
Household Composition|% Couple household without dependent children|2011
Household Composition|% Lone parent household|2011
Household Composition|% One person household|2011
Household Composition|% Other multi person household|2011
Ethnic Group|White (%)|2011
Ethnic Group|Mixed/multiple ethnic groups (%)|2011
Ethnic Group|Asian/Asian British (%)|2011
Ethnic Group|Black/African/Caribbean/Black British (%)|2011
Ethnic Group|Other ethnic group (%)|2011
Ethnic Group|BAME (%)|2011
Tenure|Owned outright (%)|2011
Tenure|Owned with a mortgage or loan (%)|2011
Tenure|Social rented (%)|2011
Tenure|Private rented (%)|2011
Dwelling type|Flat, maisonette or apartment (%)|2011

In [5]:
# Define identifier variables that should not be melted.
# 'LSOA Code' is typically your primary geographical identifier.
id_vars = ['LSOA Code']

# Identify columns to be melted (all columns not in id_vars).
melt_cols = [col for col in df.columns if col not in id_vars]

# --- Robust Pre-processing for Non-Numeric Values ---
# This step ensures that percentage strings and other non-numeric characters
# are cleaned before conversion to numeric, preventing data loss.
for col in melt_cols:
    # Convert column to string type to safely use string methods.
    df[col] = df[col].astype(str)

    # Remove common non-numeric characters that prevent direct numeric conversion.
    df[col] = df[col].str.replace('%', '', regex=False)
    df[col] = df[col].str.replace(' ', '', regex=False)  # Remove all spaces
    df[col] = df[col].str.replace(',', '', regex=False)  # Remove commas
    df[col] = df[col].str.replace('-', '', regex=False)  # Remove dashes (often for missing values)
    df[col] = df[col].str.replace('N/A', '', regex=False) # Remove 'N/A' strings
    df[col] = df[col].str.replace('nan', '', regex=False) # Remove 'nan' strings if present from astype(str)

    # After cleaning, replace any resulting empty strings with NaN.
    df[col] = df[col].replace(r'^\s*$', np.nan, regex=True)

# Melt the DataFrame to transform it from wide to long format.
df_melted = pd.melt(df,
                    id_vars=id_vars,
                    value_vars=melt_cols,
                    var_name='original_column_name',
                    value_name='value')

# Convert the 'value' column to numeric, coercing errors to NaN.
df_melted['value'] = pd.to_numeric(df_melted['value'], errors='coerce')

# --- Extract 'data_entry_code' and 'date' from original column names ---
# This function uses a regex to parse the "Indicator|YYYY" pattern.
def extract_year_and_code(column_name):
    match = re.search(r'^(.*)\|(\d{4})$', column_name)
    if match:
        data_entry_code = match.group(1).strip()
        year = int(match.group(2))
        return data_entry_code, year
    else:
        # If the pattern doesn't match, return None to allow dropping these rows.
        return None, None

df_melted[['data_entry_code', 'date']] = df_melted['original_column_name'].apply(
    lambda x: pd.Series(extract_year_and_code(x))
)

# Drop rows where 'value', 'date', or 'data_entry_code' are missing.
# This cleans up any entries that couldn't be parsed or converted.
df_melted.dropna(subset=['value', 'date', 'data_entry_code'], inplace=True)

# Ensure 'date' is an integer type.
if 'date' in df_melted.columns and pd.api.types.is_float_dtype(df_melted['date']):
    df_melted['date'] = df_melted['date'].astype(int)

# --- Pivot the DataFrame back to a new wide format ---
# This creates new columns based on 'data_entry_code', with 'LSOA Code' and 'date' as identifiers.
df_final = df_melted.pivot_table(index=id_vars + ['date'],
                                 columns='data_entry_code',
                                 values='value',
                                 aggfunc='first', # 'first' is suitable if there's only one value per group
                                 dropna=False,    # Keep columns even if they are all NaN for a given pivot
                                 ).reset_index()

# Remove the 'columns' name from the DataFrame for a cleaner look.
df_final.columns.name = None

df_final

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,317.0,426.0,531.0,259.0,1615.0,1274.0,NaN,NaN,NaN,NaN
1,E01000001,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,263.0,445.0,525.0,254.0,1571.0,1233.0,NaN,NaN,NaN,NaN
2,E01000001,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252.0,446.0,536.0,253.0,1578.0,1234.0,NaN,NaN,NaN,NaN
3,E01000001,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,248.0,432.0,532.0,259.0,1559.0,1212.0,NaN,NaN,NaN,NaN
4,E01000001,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,214.0,402.0,514.0,254.0,1461.0,1130.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62850,E01033746,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,242.0,458.0,306.0,227.0,1476.0,1006.0,NaN,NaN,NaN,NaN
62851,E01033746,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,239.0,481.0,306.0,229.0,1502.0,1026.0,NaN,NaN,NaN,NaN
62852,E01033746,2011,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,241.0,463.0,310.0,244.0,1470.0,1014.0,152.0,278.0,238.0,319.0
62853,E01033746,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,206.0,464.0,319.0,259.0,1460.0,989.0,NaN,NaN,NaN,NaN
62854,E01033746,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229.0,413.0,286.0,259.0,1389.0,928.0,NaN,NaN,NaN,NaN

In [6]:
df_final['LSOA Code'] = df_final['LSOA Code'].astype('string')


df_final.dtypes

LSOA Code                                                              string[python]
date                                                                            int64
Dwelling type|Flat, maisonette or apartment (%)                               float64
Ethnic Group|Asian/Asian British (%)                                          float64
Ethnic Group|BAME (%)                                                         float64
Ethnic Group|Black/African/Caribbean/Black British (%)                        float64
Ethnic Group|Mixed/multiple ethnic groups (%)                                 float64
Ethnic Group|Other ethnic group (%)                                           float64
Ethnic Group|White (%)                                                        float64
Household Composition|% Couple household with dependent children              float64
Household Composition|% Couple household without dependent children           float64
Household Composition|% Lone parent household                                 float64
Household Composition|% One person household                                  float64
Household Composition|% Other multi person household                          float64
Households|All households                                                     float64
Mid-year Population Estimates|Aged 0-15                                       float64
Mid-year Population Estimates|Aged 16-29                                      float64
Mid-year Population Estimates|Aged 30-44                                      float64
Mid-year Population Estimates|Aged 45-64                                      float64
Mid-year Population Estimates|Aged 65+                                        float64
Mid-year Population Estimates|All Ages                                        float64
Mid-year Population Estimates|Working-age                                     float64
Tenure|Owned outright (%)                                                     float64
Tenure|Owned with a mortgage or loan (%)                                      float64
Tenure|Private rented (%)                                                     float64
Tenure|Social rented (%)                                                      float64
dtype: object

In [7]:
df_final['date'] = df_final['date'].astype(str) + '-01-01'
df_final['date'] = pd.to_datetime(df_final['date'], errors='coerce')
df_final

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,317.0,426.0,531.0,259.0,1615.0,1274.0,NaN,NaN,NaN,NaN
1,E01000001,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,263.0,445.0,525.0,254.0,1571.0,1233.0,NaN,NaN,NaN,NaN
2,E01000001,2003-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,252.0,446.0,536.0,253.0,1578.0,1234.0,NaN,NaN,NaN,NaN
3,E01000001,2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,248.0,432.0,532.0,259.0,1559.0,1212.0,NaN,NaN,NaN,NaN
4,E01000001,2005-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,214.0,402.0,514.0,254.0,1461.0,1130.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62850,E01033746,2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,242.0,458.0,306.0,227.0,1476.0,1006.0,NaN,NaN,NaN,NaN
62851,E01033746,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,239.0,481.0,306.0,229.0,1502.0,1026.0,NaN,NaN,NaN,NaN
62852,E01033746,2011-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,241.0,463.0,310.0,244.0,1470.0,1014.0,152.0,278.0,238.0,319.0
62853,E01033746,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,206.0,464.0,319.0,259.0,1460.0,989.0,NaN,NaN,NaN,NaN
62854,E01033746,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229.0,413.0,286.0,259.0,1389.0,928.0,NaN,NaN,NaN,NaN

In [8]:
date_threshold = pd.to_datetime('2010-01-01')

df_final = df_final[df_final['date'] >= date_threshold].copy()
df = df_final.copy()
df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
9,E01000001,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,195.0,395.0,489.0,267.0,1450.0,1079.0,NaN,NaN,NaN,NaN
10,E01000001,2011-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,215.0,377.0,488.0,275.0,1472.0,1080.0,405.0,203.0,301.0,47.0
11,E01000001,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,195.0,380.0,467.0,294.0,1469.0,1042.0,NaN,NaN,NaN,NaN
12,E01000001,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,177.0,368.0,454.0,334.0,1474.0,999.0,NaN,NaN,NaN,NaN
22,E01000002,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137.0,393.0,470.0,271.0,1410.0,1000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,310.0,505.0,417.0,72.0,1929.0,1232.0,NaN,NaN,NaN,NaN
62851,E01033746,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,239.0,481.0,306.0,229.0,1502.0,1026.0,NaN,NaN,NaN,NaN
62852,E01033746,2011-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,241.0,463.0,310.0,244.0,1470.0,1014.0,152.0,278.0,238.0,319.0
62853,E01033746,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,206.0,464.0,319.0,259.0,1460.0,989.0,NaN,NaN,NaN,NaN
62854,E01033746,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229.0,413.0,286.0,259.0,1389.0,928.0,NaN,NaN,NaN,NaN

In [9]:
# Identify the year column
df['year'] = df['date'].dt.year

columns_to_populate = []
# Get rows for the year 2010
df_2010 = df[df['year'] == 2010]

# Iterate through all columns (excluding 'date', 'year', and 'LSOA Code' itself)
for col in df.columns:
    if col in ['date', 'year', 'LSOA Code']: # Skip date, the temporary year column, and LSOA Code
        continue

    # Check if the column has any data for 2010
    # We'll consider a column needing population if all its values in 2010 are NaN.
    col_2010_data = df_2010[col].dropna()

    if col_2010_data.empty:
        # If there's no non-null data for this column in 2010, it needs populating
        columns_to_populate.append(col)
        #print(f"'{col}' detected for population: No valid data found in 2010.")

#print(f"\nAutomatically detected columns to populate from 2011: {columns_to_populate}")

# --- MODIFICATION START ---
# Store the values from 2011 for these columns, grouped by 'LSOA Code'.
# We'll take the first available non-null value for 2011 for each LSOA Code and column.
# This ensures that filling is consistent per LSOA Code.

# Get 2011 data
df_2011 = df[df['year'] == 2011]

# Dictionary to store 2011 values for each column, mapped by LSOA Code
# Example: {'col_A': Series(LSOA_Code_1: value_A1, LSOA_Code_2: value_A2, ...)}
fill_values_by_lsoa = {}

for col in columns_to_populate:
    # Group by LSOA Code and get the first non-null value for the current column in 2011.
    # .dropna() removes LSOA Codes for which there's no valid 2011 data for this column.
    col_fill_values = df_2011.groupby('LSOA Code')[col].first().dropna()

    if not col_fill_values.empty:
        fill_values_by_lsoa[col] = col_fill_values
    else:
        # If no valid data found for this column in 2011 for any LSOA Code,
        # it won't be included in fill_values_by_lsoa for this column,
        # and thus won't be used for filling.
        pass
        #print(f"Warning: No valid data found for column '{col}' in 2011 for any LSOA Code. Cannot populate.")

#print(f"\nValues obtained from 2011 for specified columns (by LSOA Code): {fill_values_by_lsoa}")
# --- MODIFICATION END ---


# 3. Identify rows before 2011 (i.e., 2010 and earlier) that need filling
rows_to_fill_mask = df['year'] < 2011

# 4. Fill the values for the identified rows based on LSOA Code
for col in columns_to_populate:
    # Check if we have fill values for this column from 2011 (i.e., it was successfully populated)
    if col in fill_values_by_lsoa:
        # Get the Series mapping LSOA Code to its fill value for the current column
        lsoa_to_fill_value_map = fill_values_by_lsoa[col]

        # Select the subset of the DataFrame that needs filling for the current column
        # and has a matching LSOA Code in our map.
        # We need to fill NaNs in 'col' for rows where 'year' < 2011.

        # Get the current column data for rows to fill
        current_col_data_to_fill = df.loc[rows_to_fill_mask, col]

        # Get the LSOA Codes for these rows
        lsoa_codes_for_rows_to_fill = df.loc[rows_to_fill_mask, 'LSOA Code']

        # Map the LSOA Codes in the 'rows_to_fill_mask' to their corresponding fill values
        # Any LSOA Code in 'rows_to_fill_mask' that does not have a mapping in
        # lsoa_to_fill_value_map will result in NaN for mapped_fill_values.
        mapped_fill_values = lsoa_codes_for_rows_to_fill.map(lsoa_to_fill_value_map)

        # Use .fillna() to apply the mapped values.
        # This will only fill original NaN values in 'current_col_data_to_fill'
        # with the corresponding 'mapped_fill_values'. If mapped_fill_values is also NaN,
        # the original NaN will remain.
        df.loc[rows_to_fill_mask, col] = current_col_data_to_fill.fillna(mapped_fill_values)
df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
9,E01000001,2010-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
10,E01000001,2011-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,377.0,488.0,275.0,1472.0,1080.0,405.0,203.0,301.0,47.0,2011
11,E01000001,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,380.0,467.0,294.0,1469.0,1042.0,NaN,NaN,NaN,NaN,2012
12,E01000001,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,368.0,454.0,334.0,1474.0,999.0,NaN,NaN,NaN,NaN,2013
22,E01000002,2010-01-01,963.0,66.0,113.0,3.0,38.0,6.0,887.0,104.0,...,393.0,470.0,271.0,1410.0,1000.0,378.0,257.0,264.0,58.0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,505.0,417.0,72.0,1929.0,1232.0,NaN,NaN,NaN,NaN,2013
62851,E01033746,2010-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,481.0,306.0,229.0,1502.0,1026.0,152.0,278.0,238.0,319.0,2010
62852,E01033746,2011-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,463.0,310.0,244.0,1470.0,1014.0,152.0,278.0,238.0,319.0,2011
62853,E01033746,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,464.0,319.0,259.0,1460.0,989.0,NaN,NaN,NaN,NaN,2012
62854,E01033746,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,413.0,286.0,259.0,1389.0,928.0,NaN,NaN,NaN,NaN,2013

In [13]:
df['year'] = df['date'].dt.year

columns_to_populate = []
# Get rows for the year 2012
df_2012 = df[df['year'] == 2012]

# Iterate through all columns (excluding 'date', 'year', and 'LSOA Code' itself)
for col in df.columns:
    if col in ['date', 'year', 'LSOA Code']: # Skip date, the temporary year column, and LSOA Code
        continue

    # Check if the column has any data for 2012
    # We'll consider a column needing population if all its values in 2012 are NaN.
    col_2012_data = df_2012[col].dropna()

    if col_2012_data.empty:
        # If there's no non-null data for this column in 2012, it needs populating
        columns_to_populate.append(col)
        #print(f"'{col}' detected for population: No valid data found in 2012.")

#print(f"\nAutomatically detected columns to populate from 2011: {columns_to_populate}")

# --- MODIFICATION START ---
# Store the values from 2011 for these columns, grouped by 'LSOA Code'.
# We'll take the first available non-null value for 2011 for each LSOA Code and column.
# This ensures that filling is consistent per LSOA Code.

# Get 2011 data
df_2011 = df[df['year'] == 2011]

# Dictionary to store 2011 values for each column, mapped by LSOA Code
# Example: {'col_A': Series(LSOA_Code_1: value_A1, LSOA_Code_2: value_A2, ...)}
fill_values_by_lsoa = {}

for col in columns_to_populate:
    # Group by LSOA Code and get the first non-null value for the current column in 2011.
    # .dropna() removes LSOA Codes for which there's no valid 2011 data for this column.
    col_fill_values = df_2011.groupby('LSOA Code')[col].first().dropna()

    if not col_fill_values.empty:
        fill_values_by_lsoa[col] = col_fill_values
    else:
        # If no valid data found for this column in 2011 for any LSOA Code,
        # it won't be included in fill_values_by_lsoa for this column,
        # and thus won't be used for filling.
        pass
        #print(f"Warning: No valid data found for column '{col}' in 2011 for any LSOA Code. Cannot populate.")

#print(f"\nValues obtained from 2011 for specified columns (by LSOA Code): {fill_values_by_lsoa}")
# --- MODIFICATION END ---


# 3. Identify rows after 2011 (i.e., 2012 and later) that need filling
rows_to_fill_mask = (df['year'] > 2011)

# 4. Fill the values for the identified rows based on LSOA Code
for col in columns_to_populate:
    # Check if we have fill values for this column from 2011 (i.e., it was successfully populated)
    if col in fill_values_by_lsoa:
        # Get the Series mapping LSOA Code to its fill value for the current column
        lsoa_to_fill_value_map = fill_values_by_lsoa[col]

        # Select the subset of the DataFrame that needs filling for the current column
        # and has a matching LSOA Code in our map.
        # We need to fill NaNs in 'col' for rows where 'year' > 2011.

        # Get the current column data for rows to fill
        current_col_data_to_fill = df.loc[rows_to_fill_mask, col]

        # Get the LSOA Codes for these rows
        lsoa_codes_for_rows_to_fill = df.loc[rows_to_fill_mask, 'LSOA Code']

        # Map the LSOA Codes in the 'rows_to_fill_mask' to their corresponding fill values
        # Any LSOA Code in 'rows_to_fill_mask' that does not have a mapping in
        # lsoa_to_fill_value_map will result in NaN for mapped_fill_values.
        mapped_fill_values = lsoa_codes_for_rows_to_fill.map(lsoa_to_fill_value_map)

        # Use .fillna() to apply the mapped values.
        # This will only fill original NaN values in 'current_col_data_to_fill'
        # with the corresponding 'mapped_fill_values'. If mapped_fill_values is also NaN,
        # the original NaN will remain.
        df.loc[rows_to_fill_mask, col] = current_col_data_to_fill.fillna(mapped_fill_values)


df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
9,E01000001,2010-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
10,E01000001,2011-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,377.0,488.0,275.0,1472.0,1080.0,405.0,203.0,301.0,47.0,2011
11,E01000001,2012-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,380.0,467.0,294.0,1469.0,1042.0,405.0,203.0,301.0,47.0,2012
12,E01000001,2013-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,368.0,454.0,334.0,1474.0,999.0,405.0,203.0,301.0,47.0,2013
22,E01000002,2010-01-01,963.0,66.0,113.0,3.0,38.0,6.0,887.0,104.0,...,393.0,470.0,271.0,1410.0,1000.0,378.0,257.0,264.0,58.0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,130.0,62.0,589.0,460.0,47.0,21.0,411.0,284.0,...,505.0,417.0,72.0,1929.0,1232.0,69.0,372.0,291.0,193.0,2013
62851,E01033746,2010-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,481.0,306.0,229.0,1502.0,1026.0,152.0,278.0,238.0,319.0,2010
62852,E01033746,2011-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,463.0,310.0,244.0,1470.0,1014.0,152.0,278.0,238.0,319.0,2011
62853,E01033746,2012-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,464.0,319.0,259.0,1460.0,989.0,152.0,278.0,238.0,319.0,2012
62854,E01033746,2013-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0,2013

In [17]:
df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
9,E01000001,2010-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
10,E01000001,2011-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,377.0,488.0,275.0,1472.0,1080.0,405.0,203.0,301.0,47.0,2011
11,E01000001,2012-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,380.0,467.0,294.0,1469.0,1042.0,405.0,203.0,301.0,47.0,2012
12,E01000001,2013-01-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,368.0,454.0,334.0,1474.0,999.0,405.0,203.0,301.0,47.0,2013
22,E01000002,2010-01-01,963.0,66.0,113.0,3.0,38.0,6.0,887.0,104.0,...,393.0,470.0,271.0,1410.0,1000.0,378.0,257.0,264.0,58.0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,130.0,62.0,589.0,460.0,47.0,21.0,411.0,284.0,...,505.0,417.0,72.0,1929.0,1232.0,69.0,372.0,291.0,193.0,2013
62851,E01033746,2010-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,481.0,306.0,229.0,1502.0,1026.0,152.0,278.0,238.0,319.0,2010
62852,E01033746,2011-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,463.0,310.0,244.0,1470.0,1014.0,152.0,278.0,238.0,319.0,2011
62853,E01033746,2012-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,464.0,319.0,259.0,1460.0,989.0,152.0,278.0,238.0,319.0,2012
62854,E01033746,2013-01-01,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0,2013

In [18]:
def expand_df_to_monthly(df):
    """
    Expands a DataFrame to include monthly entries for each LSOA Code up to December 2013.
    Data for each new month is copied from the beginning of its respective year.

    Args:
        df (pd.DataFrame): The input DataFrame with 'LSOA Code', 'date', and 'year' columns.
                          The 'date' column is expected to be 'YYYY-01-01' for each year.

    Returns:
        pd.DataFrame: A new DataFrame with added monthly rows.
    """
    # Ensure 'date' column is in datetime format
    df['date'] = pd.to_datetime(df['date'])

    all_new_rows = []

    # Group by LSOA Code and year to process each year's data for each LSOA
    # We only care about years up to and including 2013 as per the request
    for (lsoa_code, year_val), group in df.groupby(['LSOA Code', 'year']):
        if year_val > 2013:
            # If the year is beyond 2013, just add the original rows and continue
            all_new_rows.append(group)
            continue

        # Get the original row for January 1st of the current year
        # Assuming there's always one entry per LSOA Code per year (for Jan 1st)
        jan_row = group.iloc[0]

        # Add the original January row to the new list
        all_new_rows.append(jan_row.to_frame().T) # Convert series to DataFrame row

        # Generate rows for the remaining months (February to December)
        for month in range(2, 13): # month 2 is Feb, month 12 is Dec
            # Create a new date for the current month
            new_date = pd.Timestamp(year=year_val, month=month, day=1)

            # Create a new row by copying the January row
            new_month_row = jan_row.copy()
            new_month_row['date'] = new_date

            # Append the new row to our list
            all_new_rows.append(new_month_row.to_frame().T)

    # Concatenate all original and newly generated rows into a single DataFrame
    expanded_df = pd.concat(all_new_rows, ignore_index=True)

    # Sort the DataFrame for better readability, first by LSOA Code, then by date
    expanded_df = expanded_df.sort_values(by=['LSOA Code', 'date']).reset_index(drop=True)

    return expanded_df

expanded_df = expand_df_to_monthly(df.copy())
expanded_df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
0,E01000001,2010-01-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
1,E01000001,2010-02-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
2,E01000001,2010-03-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
3,E01000001,2010-04-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
4,E01000001,2010-05-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232075,E01033746,2013-08-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0,2013
232076,E01033746,2013-09-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0,2013
232077,E01033746,2013-10-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0,2013
232078,E01033746,2013-11-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0,2013
232079,E01033746,2013-12-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0,2013

In [19]:
expanded_df = expanded_df.drop(columns='year')

In [20]:
expanded_df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2010-01-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
1,E01000001,2010-02-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
2,E01000001,2010-03-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
3,E01000001,2010-04-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
4,E01000001,2010-05-01 00:00:00,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232075,E01033746,2013-08-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232076,E01033746,2013-09-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232077,E01033746,2013-10-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232078,E01033746,2013-11-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232079,E01033746,2013-12-01 00:00:00,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0

In [22]:
def convert_date_to_monthly_period(df: pd.DataFrame, date_column: str) -> pd.DataFrame:
    """
    Converts a date column in a DataFrame to a PeriodIndex with monthly frequency ('M').

    Args:
        df: The input pandas DataFrame.
        date_column: The name of the date column to convert.

    Returns:
        A new DataFrame with the specified date column converted to a PeriodIndex.
    """
    if date_column not in df.columns:
        print(f"Error: Column '{date_column}' not found in the DataFrame.")
        return df

    # Ensure the column is datetime type first, then convert to PeriodIndex
    try:
        df[date_column] = pd.to_datetime(df[date_column])
        df[date_column] = df[date_column].dt.to_period('M')
        #print(f"Successfully converted '{date_column}' to monthly period.")
    except Exception as e:
        print(f"Error converting '{date_column}' to monthly period: {e}")
    return df


df_converted = convert_date_to_monthly_period(expanded_df.copy(), 'date')
df_converted

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2010-01,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
1,E01000001,2010-02,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
2,E01000001,2010-03,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
3,E01000001,2010-04,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
4,E01000001,2010-05,989.0,87.0,155.0,8.0,37.0,23.0,845.0,76.0,...,195.0,395.0,489.0,267.0,1450.0,1079.0,405.0,203.0,301.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232075,E01033746,2013-08,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232076,E01033746,2013-09,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232077,E01033746,2013-10,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232078,E01033746,2013-11,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0
232079,E01033746,2013-12,454.0,56.0,168.0,54.0,48.0,10.0,832.0,126.0,...,229.0,413.0,286.0,259.0,1389.0,928.0,152.0,278.0,238.0,319.0

In [23]:
df_converted.to_parquet('../processed_data/filtered_converted_lsoa_data.parquet')