In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

df = pd.read_parquet("../processed_data/filtered_lsoa_data.parquet")
df2 = pd.read_parquet("../processed_data/filtered_lsoa_data2.parquet")

In [12]:
df

,﻿|Level2_0|Codes,﻿|Level2_1|Names,Mid-year Population Estimates|All Ages|2001,Mid-year Population Estimates|All Ages|2002,Mid-year Population Estimates|All Ages|2003,Mid-year Population Estimates|All Ages|2004,Mid-year Population Estimates|All Ages|2005,Mid-year Population Estimates|All Ages|2006,Mid-year Population Estimates|All Ages|2007,Mid-year Population Estimates|All Ages|2008,...,Ethnic Group|Mixed/multiple ethnic groups (%)|2011,Ethnic Group|Asian/Asian British (%)|2011,Ethnic Group|Black/African/Caribbean/Black British (%)|2011,Ethnic Group|Other ethnic group (%)|2011,Ethnic Group|BAME (%)|2011,Tenure|Owned outright (%)|2011,Tenure|Owned with a mortgage or loan (%)|2011,Tenure|Social rented (%)|2011,Tenure|Private rented (%)|2011,"Dwelling type|Flat, maisonette or apartment (%)|2011"
0,E01000907,Camden 001A,1519.0,1538.0,1528.0,1547.0,1593.0,1492.0,1455.0,1457.0,...,"7,3","8,5","7,9","2,8","26,5","12,6","18,0","54,4","13,7","78,3"
1,E01000908,Camden 001B,1547.0,1577.0,1605.0,1637.0,1629.0,1598.0,1605.0,1526.0,...,"8,7","6,2","8,0","4,7","27,6","14,0","17,7","52,6","14,0","85,0"
2,E01000909,Camden 001C,1600.0,1598.0,1618.0,1634.0,1610.0,1635.0,1615.0,1584.0,...,"5,5","4,6","2,9","2,9","15,9","38,3","21,2","18,6","18,8","57,8"
3,E01000912,Camden 001D,1738.0,1728.0,1678.0,1707.0,1710.0,1669.0,1645.0,1618.0,...,"5,6","5,1","9,2","2,8","22,7","15,3","14,6","51,3","15,0","87,2"
4,E01000913,Camden 001E,1617.0,1676.0,1662.0,1714.0,1705.0,1690.0,1716.0,1657.0,...,"5,1","4,7","1,3","0,7","11,8","47,1","27,6","1,9","19,4","45,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004328,Waltham Forest 028B,1505.0,1542.0,1541.0,1557.0,1591.0,1654.0,1660.0,1755.0,...,"5,7","18,4","23,8","4,2","52,0","13,1","32,3","14,9","38,5","38,8"
4831,E01004329,Waltham Forest 028C,1493.0,1505.0,1503.0,1548.0,1571.0,1620.0,1669.0,1732.0,...,"4,0","24,1","28,4","3,1","59,6","13,7","33,2","15,1","36,2","21,0"
4832,E01004330,Waltham Forest 028D,1524.0,1447.0,1439.0,1504.0,1529.0,1576.0,1614.0,1684.0,...,"5,0","18,0","23,7","2,7","49,3","19,7","33,8","10,4","35,0","13,0"
4833,E01004331,Waltham Forest 028E,1490.0,1510.0,1513.0,1582.0,1587.0,1615.0,1656.0,1664.0,...,"7,2","21,3","30,5","2,5","61,5","16,1","26,2","21,0","34,7","21,8"
4834,E01004332,Waltham Forest 028F,1543.0,1575.0,1631.0,1616.0,1601.0,1619.0,1647.0,1693.0,...,"7,2","22,8","22,8","4,1","56,8","14,4","21,6","20,9","40,0","40,2"

In [13]:
df = df.drop(columns=['﻿|Level2_1|Names'])
df = df.rename(columns={'﻿|Level2_0|Codes': 'LSOA Code'})
df

,LSOA Code,Mid-year Population Estimates|All Ages|2001,Mid-year Population Estimates|All Ages|2002,Mid-year Population Estimates|All Ages|2003,Mid-year Population Estimates|All Ages|2004,Mid-year Population Estimates|All Ages|2005,Mid-year Population Estimates|All Ages|2006,Mid-year Population Estimates|All Ages|2007,Mid-year Population Estimates|All Ages|2008,Mid-year Population Estimates|All Ages|2009,...,Ethnic Group|Mixed/multiple ethnic groups (%)|2011,Ethnic Group|Asian/Asian British (%)|2011,Ethnic Group|Black/African/Caribbean/Black British (%)|2011,Ethnic Group|Other ethnic group (%)|2011,Ethnic Group|BAME (%)|2011,Tenure|Owned outright (%)|2011,Tenure|Owned with a mortgage or loan (%)|2011,Tenure|Social rented (%)|2011,Tenure|Private rented (%)|2011,"Dwelling type|Flat, maisonette or apartment (%)|2011"
0,E01000907,1519.0,1538.0,1528.0,1547.0,1593.0,1492.0,1455.0,1457.0,1421.0,...,"7,3","8,5","7,9","2,8","26,5","12,6","18,0","54,4","13,7","78,3"
1,E01000908,1547.0,1577.0,1605.0,1637.0,1629.0,1598.0,1605.0,1526.0,1528.0,...,"8,7","6,2","8,0","4,7","27,6","14,0","17,7","52,6","14,0","85,0"
2,E01000909,1600.0,1598.0,1618.0,1634.0,1610.0,1635.0,1615.0,1584.0,1560.0,...,"5,5","4,6","2,9","2,9","15,9","38,3","21,2","18,6","18,8","57,8"
3,E01000912,1738.0,1728.0,1678.0,1707.0,1710.0,1669.0,1645.0,1618.0,1593.0,...,"5,6","5,1","9,2","2,8","22,7","15,3","14,6","51,3","15,0","87,2"
4,E01000913,1617.0,1676.0,1662.0,1714.0,1705.0,1690.0,1716.0,1657.0,1663.0,...,"5,1","4,7","1,3","0,7","11,8","47,1","27,6","1,9","19,4","45,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004328,1505.0,1542.0,1541.0,1557.0,1591.0,1654.0,1660.0,1755.0,1734.0,...,"5,7","18,4","23,8","4,2","52,0","13,1","32,3","14,9","38,5","38,8"
4831,E01004329,1493.0,1505.0,1503.0,1548.0,1571.0,1620.0,1669.0,1732.0,1795.0,...,"4,0","24,1","28,4","3,1","59,6","13,7","33,2","15,1","36,2","21,0"
4832,E01004330,1524.0,1447.0,1439.0,1504.0,1529.0,1576.0,1614.0,1684.0,1689.0,...,"5,0","18,0","23,7","2,7","49,3","19,7","33,8","10,4","35,0","13,0"
4833,E01004331,1490.0,1510.0,1513.0,1582.0,1587.0,1615.0,1656.0,1664.0,1756.0,...,"7,2","21,3","30,5","2,5","61,5","16,1","26,2","21,0","34,7","21,8"
4834,E01004332,1543.0,1575.0,1631.0,1616.0,1601.0,1619.0,1647.0,1693.0,1667.0,...,"7,2","22,8","22,8","4,1","56,8","14,4","21,6","20,9","40,0","40,2"

In [14]:
for col in df.columns:
    print(col)

LSOA Code
Mid-year Population Estimates|All Ages|2001
Mid-year Population Estimates|All Ages|2002
Mid-year Population Estimates|All Ages|2003
Mid-year Population Estimates|All Ages|2004
Mid-year Population Estimates|All Ages|2005
Mid-year Population Estimates|All Ages|2006
Mid-year Population Estimates|All Ages|2007
Mid-year Population Estimates|All Ages|2008
Mid-year Population Estimates|All Ages|2009
Mid-year Population Estimates|All Ages|2010
Mid-year Population Estimates|All Ages|2011
Mid-year Population Estimates|All Ages|2012
Mid-year Population Estimates|All Ages|2013
Mid-year Population Estimates|Aged 0-15|2001
Mid-year Population Estimates|Aged 0-15|2002
Mid-year Population Estimates|Aged 0-15|2003
Mid-year Population Estimates|Aged 0-15|2004
Mid-year Population Estimates|Aged 0-15|2005
Mid-year Population Estimates|Aged 0-15|2006
Mid-year Population Estimates|Aged 0-15|2007
Mid-year Population Estimates|Aged 0-15|2008
Mid-year Population Estimates|Aged 0-15|2009
Mid-year Population Estimates|Aged 0-15|2010
Mid-year Population Estimates|Aged 0-15|2011
Mid-year Population Estimates|Aged 0-15|2012
Mid-year Population Estimates|Aged 0-15|2013
Mid-year Population Estimates|Aged 16-29|2001
Mid-year Population Estimates|Aged 16-29|2002
Mid-year Population Estimates|Aged 16-29|2003
Mid-year Population Estimates|Aged 16-29|2004
Mid-year Population Estimates|Aged 16-29|2005
Mid-year Population Estimates|Aged 16-29|2006
Mid-year Population Estimates|Aged 16-29|2007
Mid-year Population Estimates|Aged 16-29|2008
Mid-year Population Estimates|Aged 16-29|2009
Mid-year Population Estimates|Aged 16-29|2010
Mid-year Population Estimates|Aged 16-29|2011
Mid-year Population Estimates|Aged 16-29|2012
Mid-year Population Estimates|Aged 16-29|2013
Mid-year Population Estimates|Aged 30-44|2001
Mid-year Population Estimates|Aged 30-44|2002
Mid-year Population Estimates|Aged 30-44|2003
Mid-year Population Estimates|Aged 30-44|2004
Mid-year Population Estimates|Aged 30-44|2005
Mid-year Population Estimates|Aged 30-44|2006
Mid-year Population Estimates|Aged 30-44|2007
Mid-year Population Estimates|Aged 30-44|2008
Mid-year Population Estimates|Aged 30-44|2009
Mid-year Population Estimates|Aged 30-44|2010
Mid-year Population Estimates|Aged 30-44|2011
Mid-year Population Estimates|Aged 30-44|2012
Mid-year Population Estimates|Aged 30-44|2013
Mid-year Population Estimates|Aged 45-64|2001
Mid-year Population Estimates|Aged 45-64|2002
Mid-year Population Estimates|Aged 45-64|2003
Mid-year Population Estimates|Aged 45-64|2004
Mid-year Population Estimates|Aged 45-64|2005
Mid-year Population Estimates|Aged 45-64|2006
Mid-year Population Estimates|Aged 45-64|2007
Mid-year Population Estimates|Aged 45-64|2008
Mid-year Population Estimates|Aged 45-64|2009
Mid-year Population Estimates|Aged 45-64|2010
Mid-year Population Estimates|Aged 45-64|2011
Mid-year Population Estimates|Aged 45-64|2012
Mid-year Population Estimates|Aged 45-64|2013
Mid-year Population Estimates|Aged 65+|2001
Mid-year Population Estimates|Aged 65+|2002
Mid-year Population Estimates|Aged 65+|2003
Mid-year Population Estimates|Aged 65+|2004
Mid-year Population Estimates|Aged 65+|2005
Mid-year Population Estimates|Aged 65+|2006
Mid-year Population Estimates|Aged 65+|2007
Mid-year Population Estimates|Aged 65+|2008
Mid-year Population Estimates|Aged 65+|2009
Mid-year Population Estimates|Aged 65+|2010
Mid-year Population Estimates|Aged 65+|2011
Mid-year Population Estimates|Aged 65+|2012
Mid-year Population Estimates|Aged 65+|2013
Mid-year Population Estimates|Working-age|2001
Mid-year Population Estimates|Working-age|2002
Mid-year Population Estimates|Working-age|2003
Mid-year Population Estimates|Working-age|2004
Mid-year Population Estimates|Working-age|2005
Mid-year Population Estimates|Working-age|2006
Mid-year Population Estimates|Working-age|2007
Mid-year Population Estimates|Working-age|2008
Mid-year Population Estimates|Working-age|2009
Mid-year Population Estimates|Working-age|2010
Mid-year Population Estimates|Working-age|2011
Mid-year Population Estimates|Working-age|2012
Mid-year Population Estimates|Working-age|2013
Households|All households|2011
Household Composition|% Couple household with dependent children|2011
Household Composition|% Couple household without dependent children|2011
Household Composition|% Lone parent household|2011
Household Composition|% One person household|2011
Household Composition|% Other multi person household|2011
Ethnic Group|White (%)|2011
Ethnic Group|Mixed/multiple ethnic groups (%)|2011
Ethnic Group|Asian/Asian British (%)|2011
Ethnic Group|Black/African/Caribbean/Black British (%)|2011
Ethnic Group|Other ethnic group (%)|2011
Ethnic Group|BAME (%)|2011
Tenure|Owned outright (%)|2011
Tenure|Owned with a mortgage or loan (%)|2011
Tenure|Social rented (%)|2011
Tenure|Private rented (%)|2011
Dwelling type|Flat, maisonette or apartment (%)|2011

In [15]:
# Define identifier variables that should not be melted.
# 'LSOA Code' is typically your primary geographical identifier.
id_vars = ['LSOA Code']

# Identify columns to be melted (all columns not in id_vars).
melt_cols = [col for col in df.columns if col not in id_vars]

# --- Robust Pre-processing for Non-Numeric Values ---
# This step ensures that percentage strings and other non-numeric characters
# are cleaned before conversion to numeric, preventing data loss.
for col in melt_cols:
    # Convert column to string type to safely use string methods.
    df[col] = df[col].astype(str)

    # Remove common non-numeric characters that prevent direct numeric conversion.
    df[col] = df[col].str.replace('%', '', regex=False)
    df[col] = df[col].str.replace(' ', '', regex=False)  # Remove all spaces

    # --- IMPORTANT FIX: Handle commas as decimal points ---
    # This assumes a European number format where:
    # 1. Dots ('.') are thousands separators and should be removed.
    # 2. Commas (',') are decimal separators and should be replaced with dots.
    df[col] = df[col].str.replace('.', '', regex=False)  # Remove dots (assumed thousands separator)
    df[col] = df[col].str.replace(',', '.', regex=False)  # Replace commas with dots (assumed decimal separator)

    df[col] = df[col].str.replace('-', '', regex=False)  # Remove dashes (often for missing values)
    df[col] = df[col].str.replace('N/A', '', regex=False) # Remove 'N/A' strings
    df[col] = df[col].str.replace('nan', '', regex=False) # Remove 'nan' strings if present from astype(str)

    # After cleaning, replace any resulting empty strings with NaN.
    df[col] = df[col].replace(r'^\s*$', np.nan, regex=True)

# Melt the DataFrame to transform it from wide to long format.
df_melted = pd.melt(df,
                    id_vars=id_vars,
                    value_vars=melt_cols,
                    var_name='original_column_name',
                    value_name='value')

# Convert the 'value' column to numeric, coercing errors to NaN.
df_melted['value'] = pd.to_numeric(df_melted['value'], errors='coerce')

# --- Extract 'data_entry_code' and 'date' from original column names ---
# This function uses a regex to parse the "Indicator|YYYY" pattern.
def extract_year_and_code(column_name):
    match = re.search(r'^(.*)\|(\d{4})$', column_name)
    if match:
        data_entry_code = match.group(1).strip()
        year = int(match.group(2))
        return data_entry_code, year
    else:
        # If the pattern doesn't match, return None to allow dropping these rows.
        return None, None

df_melted[['data_entry_code', 'date']] = df_melted['original_column_name'].apply(
    lambda x: pd.Series(extract_year_and_code(x))
)

# Drop rows where 'value', 'date', or 'data_entry_code' are missing.
# This cleans up any entries that couldn't be parsed or converted.
df_melted.dropna(subset=['value', 'date', 'data_entry_code'], inplace=True)

# Ensure 'date' is an integer type.
if 'date' in df_melted.columns and pd.api.types.is_float_dtype(df_melted['date']):
    df_melted['date'] = df_melted['date'].astype(int)

# --- Pivot the DataFrame back to a new wide format ---
# This creates new columns based on 'data_entry_code', with 'LSOA Code' and 'date' as identifiers.
df_final = df_melted.pivot_table(index=id_vars + ['date'],
                                 columns='data_entry_code',
                                 values='value',
                                 aggfunc='first', # 'first' is suitable if there's only one value per group
                                 dropna=False,    # Keep columns even if they are all NaN for a given pivot
                                 ).reset_index()

# Remove the 'columns' name from the DataFrame for a cleaner look.
df_final.columns.name = None

# Display the final DataFrame (or return it in a function)
df_final

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3170.0,4260.0,5310.0,2590.0,16150.0,12740.0,NaN,NaN,NaN,NaN
1,E01000001,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2630.0,4450.0,5250.0,2540.0,15710.0,12330.0,NaN,NaN,NaN,NaN
2,E01000001,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2520.0,4460.0,5360.0,2530.0,15780.0,12340.0,NaN,NaN,NaN,NaN
3,E01000001,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2480.0,4320.0,5320.0,2590.0,15590.0,12120.0,NaN,NaN,NaN,NaN
4,E01000001,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2140.0,4020.0,5140.0,2540.0,14610.0,11300.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62850,E01033746,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2420.0,4580.0,3060.0,2270.0,14760.0,10060.0,NaN,NaN,NaN,NaN
62851,E01033746,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2390.0,4810.0,3060.0,2290.0,15020.0,10260.0,NaN,NaN,NaN,NaN
62852,E01033746,2011,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2410.0,4630.0,3100.0,2440.0,14700.0,10140.0,15.2,27.8,23.8,31.9
62853,E01033746,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2060.0,4640.0,3190.0,2590.0,14600.0,9890.0,NaN,NaN,NaN,NaN
62854,E01033746,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,NaN,NaN,NaN,NaN

In [16]:
df_final['LSOA Code'] = df_final['LSOA Code'].astype('string')


df_final.dtypes

LSOA Code                                                              string[python]
date                                                                            int64
Dwelling type|Flat, maisonette or apartment (%)                               float64
Ethnic Group|Asian/Asian British (%)                                          float64
Ethnic Group|BAME (%)                                                         float64
Ethnic Group|Black/African/Caribbean/Black British (%)                        float64
Ethnic Group|Mixed/multiple ethnic groups (%)                                 float64
Ethnic Group|Other ethnic group (%)                                           float64
Ethnic Group|White (%)                                                        float64
Household Composition|% Couple household with dependent children              float64
Household Composition|% Couple household without dependent children           float64
Household Composition|% Lone parent household                                 float64
Household Composition|% One person household                                  float64
Household Composition|% Other multi person household                          float64
Households|All households                                                     float64
Mid-year Population Estimates|Aged 0-15                                       float64
Mid-year Population Estimates|Aged 16-29                                      float64
Mid-year Population Estimates|Aged 30-44                                      float64
Mid-year Population Estimates|Aged 45-64                                      float64
Mid-year Population Estimates|Aged 65+                                        float64
Mid-year Population Estimates|All Ages                                        float64
Mid-year Population Estimates|Working-age                                     float64
Tenure|Owned outright (%)                                                     float64
Tenure|Owned with a mortgage or loan (%)                                      float64
Tenure|Private rented (%)                                                     float64
Tenure|Social rented (%)                                                      float64
dtype: object

In [17]:
df_final['date'] = df_final['date'].astype(str) + '-01-01'
df_final['date'] = pd.to_datetime(df_final['date'], errors='coerce')
df_final

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2001-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3170.0,4260.0,5310.0,2590.0,16150.0,12740.0,NaN,NaN,NaN,NaN
1,E01000001,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2630.0,4450.0,5250.0,2540.0,15710.0,12330.0,NaN,NaN,NaN,NaN
2,E01000001,2003-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2520.0,4460.0,5360.0,2530.0,15780.0,12340.0,NaN,NaN,NaN,NaN
3,E01000001,2004-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2480.0,4320.0,5320.0,2590.0,15590.0,12120.0,NaN,NaN,NaN,NaN
4,E01000001,2005-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2140.0,4020.0,5140.0,2540.0,14610.0,11300.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62850,E01033746,2009-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2420.0,4580.0,3060.0,2270.0,14760.0,10060.0,NaN,NaN,NaN,NaN
62851,E01033746,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2390.0,4810.0,3060.0,2290.0,15020.0,10260.0,NaN,NaN,NaN,NaN
62852,E01033746,2011-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2410.0,4630.0,3100.0,2440.0,14700.0,10140.0,15.2,27.8,23.8,31.9
62853,E01033746,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2060.0,4640.0,3190.0,2590.0,14600.0,9890.0,NaN,NaN,NaN,NaN
62854,E01033746,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,NaN,NaN,NaN,NaN

In [18]:
date_threshold = pd.to_datetime('2010-01-01')

df_final = df_final[df_final['date'] >= date_threshold].copy()
df = df_final.copy()
df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
9,E01000001,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,NaN,NaN,NaN,NaN
10,E01000001,2011-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,2150.0,3770.0,4880.0,2750.0,14720.0,10800.0,40.5,20.3,30.1,4.7
11,E01000001,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1950.0,3800.0,4670.0,2940.0,14690.0,10420.0,NaN,NaN,NaN,NaN
12,E01000001,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1770.0,3680.0,4540.0,3340.0,14740.0,9990.0,NaN,NaN,NaN,NaN
22,E01000002,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1370.0,3930.0,4700.0,2710.0,14100.0,10000.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3100.0,5050.0,4170.0,720.0,19290.0,12320.0,NaN,NaN,NaN,NaN
62851,E01033746,2010-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2390.0,4810.0,3060.0,2290.0,15020.0,10260.0,NaN,NaN,NaN,NaN
62852,E01033746,2011-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2410.0,4630.0,3100.0,2440.0,14700.0,10140.0,15.2,27.8,23.8,31.9
62853,E01033746,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2060.0,4640.0,3190.0,2590.0,14600.0,9890.0,NaN,NaN,NaN,NaN
62854,E01033746,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,NaN,NaN,NaN,NaN

In [19]:
# Identify the year column
df['year'] = df['date'].dt.year

columns_to_populate = []
# Get rows for the year 2010
df_2010 = df[df['year'] == 2010]

# Iterate through all columns (excluding 'date', 'year', and 'LSOA Code' itself)
for col in df.columns:
    if col in ['date', 'year', 'LSOA Code']: # Skip date, the temporary year column, and LSOA Code
        continue

    # Check if the column has any data for 2010
    # We'll consider a column needing population if all its values in 2010 are NaN.
    col_2010_data = df_2010[col].dropna()

    if col_2010_data.empty:
        # If there's no non-null data for this column in 2010, it needs populating
        columns_to_populate.append(col)
        #print(f"'{col}' detected for population: No valid data found in 2010.")

#print(f"\nAutomatically detected columns to populate from 2011: {columns_to_populate}")

# --- MODIFICATION START ---
# Store the values from 2011 for these columns, grouped by 'LSOA Code'.
# We'll take the first available non-null value for 2011 for each LSOA Code and column.
# This ensures that filling is consistent per LSOA Code.

# Get 2011 data
df_2011 = df[df['year'] == 2011]

# Dictionary to store 2011 values for each column, mapped by LSOA Code
# Example: {'col_A': Series(LSOA_Code_1: value_A1, LSOA_Code_2: value_A2, ...)}
fill_values_by_lsoa = {}

for col in columns_to_populate:
    # Group by LSOA Code and get the first non-null value for the current column in 2011.
    # .dropna() removes LSOA Codes for which there's no valid 2011 data for this column.
    col_fill_values = df_2011.groupby('LSOA Code')[col].first().dropna()

    if not col_fill_values.empty:
        fill_values_by_lsoa[col] = col_fill_values
    else:
        # If no valid data found for this column in 2011 for any LSOA Code,
        # it won't be included in fill_values_by_lsoa for this column,
        # and thus won't be used for filling.
        pass
        #print(f"Warning: No valid data found for column '{col}' in 2011 for any LSOA Code. Cannot populate.")

#print(f"\nValues obtained from 2011 for specified columns (by LSOA Code): {fill_values_by_lsoa}")
# --- MODIFICATION END ---


# 3. Identify rows before 2011 (i.e., 2010 and earlier) that need filling
rows_to_fill_mask = df['year'] < 2011

# 4. Fill the values for the identified rows based on LSOA Code
for col in columns_to_populate:
    # Check if we have fill values for this column from 2011 (i.e., it was successfully populated)
    if col in fill_values_by_lsoa:
        # Get the Series mapping LSOA Code to its fill value for the current column
        lsoa_to_fill_value_map = fill_values_by_lsoa[col]

        # Select the subset of the DataFrame that needs filling for the current column
        # and has a matching LSOA Code in our map.
        # We need to fill NaNs in 'col' for rows where 'year' < 2011.

        # Get the current column data for rows to fill
        current_col_data_to_fill = df.loc[rows_to_fill_mask, col]

        # Get the LSOA Codes for these rows
        lsoa_codes_for_rows_to_fill = df.loc[rows_to_fill_mask, 'LSOA Code']

        # Map the LSOA Codes in the 'rows_to_fill_mask' to their corresponding fill values
        # Any LSOA Code in 'rows_to_fill_mask' that does not have a mapping in
        # lsoa_to_fill_value_map will result in NaN for mapped_fill_values.
        mapped_fill_values = lsoa_codes_for_rows_to_fill.map(lsoa_to_fill_value_map)

        # Use .fillna() to apply the mapped values.
        # This will only fill original NaN values in 'current_col_data_to_fill'
        # with the corresponding 'mapped_fill_values'. If mapped_fill_values is also NaN,
        # the original NaN will remain.
        df.loc[rows_to_fill_mask, col] = current_col_data_to_fill.fillna(mapped_fill_values)
df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
9,E01000001,2010-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
10,E01000001,2011-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3770.0,4880.0,2750.0,14720.0,10800.0,40.5,20.3,30.1,4.7,2011
11,E01000001,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3800.0,4670.0,2940.0,14690.0,10420.0,NaN,NaN,NaN,NaN,2012
12,E01000001,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3680.0,4540.0,3340.0,14740.0,9990.0,NaN,NaN,NaN,NaN,2013
22,E01000002,2010-01-01,96.3,6.6,11.3,0.3,3.8,0.6,88.7,10.4,...,3930.0,4700.0,2710.0,14100.0,10000.0,37.8,25.7,26.4,5.8,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5050.0,4170.0,720.0,19290.0,12320.0,NaN,NaN,NaN,NaN,2013
62851,E01033746,2010-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4810.0,3060.0,2290.0,15020.0,10260.0,15.2,27.8,23.8,31.9,2010
62852,E01033746,2011-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4630.0,3100.0,2440.0,14700.0,10140.0,15.2,27.8,23.8,31.9,2011
62853,E01033746,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4640.0,3190.0,2590.0,14600.0,9890.0,NaN,NaN,NaN,NaN,2012
62854,E01033746,2013-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4130.0,2860.0,2590.0,13890.0,9280.0,NaN,NaN,NaN,NaN,2013

In [20]:
df['year'] = df['date'].dt.year

columns_to_populate = []
# Get rows for the year 2012
df_2012 = df[df['year'] == 2012]

# Iterate through all columns (excluding 'date', 'year', and 'LSOA Code' itself)
for col in df.columns:
    if col in ['date', 'year', 'LSOA Code']: # Skip date, the temporary year column, and LSOA Code
        continue

    # Check if the column has any data for 2012
    # We'll consider a column needing population if all its values in 2012 are NaN.
    col_2012_data = df_2012[col].dropna()

    if col_2012_data.empty:
        # If there's no non-null data for this column in 2012, it needs populating
        columns_to_populate.append(col)
        #print(f"'{col}' detected for population: No valid data found in 2012.")

#print(f"\nAutomatically detected columns to populate from 2011: {columns_to_populate}")

# --- MODIFICATION START ---
# Store the values from 2011 for these columns, grouped by 'LSOA Code'.
# We'll take the first available non-null value for 2011 for each LSOA Code and column.
# This ensures that filling is consistent per LSOA Code.

# Get 2011 data
df_2011 = df[df['year'] == 2011]

# Dictionary to store 2011 values for each column, mapped by LSOA Code
# Example: {'col_A': Series(LSOA_Code_1: value_A1, LSOA_Code_2: value_A2, ...)}
fill_values_by_lsoa = {}

for col in columns_to_populate:
    # Group by LSOA Code and get the first non-null value for the current column in 2011.
    # .dropna() removes LSOA Codes for which there's no valid 2011 data for this column.
    col_fill_values = df_2011.groupby('LSOA Code')[col].first().dropna()

    if not col_fill_values.empty:
        fill_values_by_lsoa[col] = col_fill_values
    else:
        # If no valid data found for this column in 2011 for any LSOA Code,
        # it won't be included in fill_values_by_lsoa for this column,
        # and thus won't be used for filling.
        pass
        #print(f"Warning: No valid data found for column '{col}' in 2011 for any LSOA Code. Cannot populate.")

#print(f"\nValues obtained from 2011 for specified columns (by LSOA Code): {fill_values_by_lsoa}")
# --- MODIFICATION END ---


# 3. Identify rows after 2011 (i.e., 2012 and later) that need filling
rows_to_fill_mask = (df['year'] > 2011)

# 4. Fill the values for the identified rows based on LSOA Code
for col in columns_to_populate:
    # Check if we have fill values for this column from 2011 (i.e., it was successfully populated)
    if col in fill_values_by_lsoa:
        # Get the Series mapping LSOA Code to its fill value for the current column
        lsoa_to_fill_value_map = fill_values_by_lsoa[col]

        # Select the subset of the DataFrame that needs filling for the current column
        # and has a matching LSOA Code in our map.
        # We need to fill NaNs in 'col' for rows where 'year' > 2011.

        # Get the current column data for rows to fill
        current_col_data_to_fill = df.loc[rows_to_fill_mask, col]

        # Get the LSOA Codes for these rows
        lsoa_codes_for_rows_to_fill = df.loc[rows_to_fill_mask, 'LSOA Code']

        # Map the LSOA Codes in the 'rows_to_fill_mask' to their corresponding fill values
        # Any LSOA Code in 'rows_to_fill_mask' that does not have a mapping in
        # lsoa_to_fill_value_map will result in NaN for mapped_fill_values.
        mapped_fill_values = lsoa_codes_for_rows_to_fill.map(lsoa_to_fill_value_map)

        # Use .fillna() to apply the mapped values.
        # This will only fill original NaN values in 'current_col_data_to_fill'
        # with the corresponding 'mapped_fill_values'. If mapped_fill_values is also NaN,
        # the original NaN will remain.
        df.loc[rows_to_fill_mask, col] = current_col_data_to_fill.fillna(mapped_fill_values)


df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
9,E01000001,2010-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
10,E01000001,2011-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3770.0,4880.0,2750.0,14720.0,10800.0,40.5,20.3,30.1,4.7,2011
11,E01000001,2012-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3800.0,4670.0,2940.0,14690.0,10420.0,40.5,20.3,30.1,4.7,2012
12,E01000001,2013-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3680.0,4540.0,3340.0,14740.0,9990.0,40.5,20.3,30.1,4.7,2013
22,E01000002,2010-01-01,96.3,6.6,11.3,0.3,3.8,0.6,88.7,10.4,...,3930.0,4700.0,2710.0,14100.0,10000.0,37.8,25.7,26.4,5.8,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,13.0,6.2,58.9,46.0,4.7,2.1,41.1,28.4,...,5050.0,4170.0,720.0,19290.0,12320.0,6.9,37.2,29.1,19.3,2013
62851,E01033746,2010-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4810.0,3060.0,2290.0,15020.0,10260.0,15.2,27.8,23.8,31.9,2010
62852,E01033746,2011-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4630.0,3100.0,2440.0,14700.0,10140.0,15.2,27.8,23.8,31.9,2011
62853,E01033746,2012-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4640.0,3190.0,2590.0,14600.0,9890.0,15.2,27.8,23.8,31.9,2012
62854,E01033746,2013-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9,2013

In [21]:
df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
9,E01000001,2010-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
10,E01000001,2011-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3770.0,4880.0,2750.0,14720.0,10800.0,40.5,20.3,30.1,4.7,2011
11,E01000001,2012-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3800.0,4670.0,2940.0,14690.0,10420.0,40.5,20.3,30.1,4.7,2012
12,E01000001,2013-01-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3680.0,4540.0,3340.0,14740.0,9990.0,40.5,20.3,30.1,4.7,2013
22,E01000002,2010-01-01,96.3,6.6,11.3,0.3,3.8,0.6,88.7,10.4,...,3930.0,4700.0,2710.0,14100.0,10000.0,37.8,25.7,26.4,5.8,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62841,E01033745,2013-01-01,13.0,6.2,58.9,46.0,4.7,2.1,41.1,28.4,...,5050.0,4170.0,720.0,19290.0,12320.0,6.9,37.2,29.1,19.3,2013
62851,E01033746,2010-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4810.0,3060.0,2290.0,15020.0,10260.0,15.2,27.8,23.8,31.9,2010
62852,E01033746,2011-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4630.0,3100.0,2440.0,14700.0,10140.0,15.2,27.8,23.8,31.9,2011
62853,E01033746,2012-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4640.0,3190.0,2590.0,14600.0,9890.0,15.2,27.8,23.8,31.9,2012
62854,E01033746,2013-01-01,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9,2013

In [22]:
def expand_df_to_monthly(df):
    """
    Expands a DataFrame to include monthly entries for each LSOA Code up to December 2013.
    Data for each new month is copied from the beginning of its respective year.

    Args:
        df (pd.DataFrame): The input DataFrame with 'LSOA Code', 'date', and 'year' columns.
                          The 'date' column is expected to be 'YYYY-01-01' for each year.

    Returns:
        pd.DataFrame: A new DataFrame with added monthly rows.
    """
    # Ensure 'date' column is in datetime format
    df['date'] = pd.to_datetime(df['date'])

    all_new_rows = []

    # Group by LSOA Code and year to process each year's data for each LSOA
    # We only care about years up to and including 2013 as per the request
    for (lsoa_code, year_val), group in df.groupby(['LSOA Code', 'year']):
        if year_val > 2013:
            # If the year is beyond 2013, just add the original rows and continue
            all_new_rows.append(group)
            continue

        # Get the original row for January 1st of the current year
        # Assuming there's always one entry per LSOA Code per year (for Jan 1st)
        jan_row = group.iloc[0]

        # Add the original January row to the new list
        all_new_rows.append(jan_row.to_frame().T) # Convert series to DataFrame row

        # Generate rows for the remaining months (February to December)
        for month in range(2, 13): # month 2 is Feb, month 12 is Dec
            # Create a new date for the current month
            new_date = pd.Timestamp(year=year_val, month=month, day=1)

            # Create a new row by copying the January row
            new_month_row = jan_row.copy()
            new_month_row['date'] = new_date

            # Append the new row to our list
            all_new_rows.append(new_month_row.to_frame().T)

    # Concatenate all original and newly generated rows into a single DataFrame
    expanded_df = pd.concat(all_new_rows, ignore_index=True)

    # Sort the DataFrame for better readability, first by LSOA Code, then by date
    expanded_df = expanded_df.sort_values(by=['LSOA Code', 'date']).reset_index(drop=True)

    return expanded_df

expanded_df = expand_df_to_monthly(df.copy())
expanded_df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%),year
0,E01000001,2010-01-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
1,E01000001,2010-02-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
2,E01000001,2010-03-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
3,E01000001,2010-04-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
4,E01000001,2010-05-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232075,E01033746,2013-08-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9,2013
232076,E01033746,2013-09-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9,2013
232077,E01033746,2013-10-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9,2013
232078,E01033746,2013-11-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9,2013
232079,E01033746,2013-12-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9,2013

In [23]:
expanded_df = expanded_df.drop(columns='year')

In [24]:
expanded_df

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2010-01-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
1,E01000001,2010-02-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
2,E01000001,2010-03-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
3,E01000001,2010-04-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
4,E01000001,2010-05-01 00:00:00,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232075,E01033746,2013-08-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232076,E01033746,2013-09-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232077,E01033746,2013-10-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232078,E01033746,2013-11-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232079,E01033746,2013-12-01 00:00:00,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9

In [25]:
def convert_date_to_monthly_period(df: pd.DataFrame, date_column: str) -> pd.DataFrame:
    """
    Converts a date column in a DataFrame to a PeriodIndex with monthly frequency ('M').

    Args:
        df: The input pandas DataFrame.
        date_column: The name of the date column to convert.

    Returns:
        A new DataFrame with the specified date column converted to a PeriodIndex.
    """
    if date_column not in df.columns:
        print(f"Error: Column '{date_column}' not found in the DataFrame.")
        return df

    # Ensure the column is datetime type first, then convert to PeriodIndex
    try:
        df[date_column] = pd.to_datetime(df[date_column])
        df[date_column] = df[date_column].dt.to_period('M')
        #print(f"Successfully converted '{date_column}' to monthly period.")
    except Exception as e:
        print(f"Error converting '{date_column}' to monthly period: {e}")
    return df


df_converted = convert_date_to_monthly_period(expanded_df.copy(), 'date')
df_converted

,LSOA Code,date,"Dwelling type|Flat, maisonette or apartment (%)",Ethnic Group|Asian/Asian British (%),Ethnic Group|BAME (%),Ethnic Group|Black/African/Caribbean/Black British (%),Ethnic Group|Mixed/multiple ethnic groups (%),Ethnic Group|Other ethnic group (%),Ethnic Group|White (%),Household Composition|% Couple household with dependent children,...,Mid-year Population Estimates|Aged 16-29,Mid-year Population Estimates|Aged 30-44,Mid-year Population Estimates|Aged 45-64,Mid-year Population Estimates|Aged 65+,Mid-year Population Estimates|All Ages,Mid-year Population Estimates|Working-age,Tenure|Owned outright (%),Tenure|Owned with a mortgage or loan (%),Tenure|Private rented (%),Tenure|Social rented (%)
0,E01000001,2010-01,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
1,E01000001,2010-02,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
2,E01000001,2010-03,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
3,E01000001,2010-04,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
4,E01000001,2010-05,98.9,8.7,15.5,0.8,3.7,2.3,84.5,7.6,...,1950.0,3950.0,4890.0,2670.0,14500.0,10790.0,40.5,20.3,30.1,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232075,E01033746,2013-08,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232076,E01033746,2013-09,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232077,E01033746,2013-10,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232078,E01033746,2013-11,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9
232079,E01033746,2013-12,45.4,5.6,16.8,5.4,4.8,1.0,83.2,12.6,...,2290.0,4130.0,2860.0,2590.0,13890.0,9280.0,15.2,27.8,23.8,31.9

In [26]:
df_converted.to_parquet('../processed_data/filtered_converted_lsoa_data.parquet')

In [27]:
df2.columns

Index(['﻿|Level2_0|Codes', '﻿|Level2_1|Names',
       'Car or van availability|No cars or vans in household (%)|2011',
       'Car or van availability|1 car or van in household (%)|2011',
       'Car or van availability|2 cars or vans in household (%)|2011',
       'Car or van availability|3 cars or vans in household (%)|2011',
       'Car or van availability|4 or more cars or vans in household (%)|2011',
       'Car or van availability|Cars per household|2011',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|0',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|1a',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|1b',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|2',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|3',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|4',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|5',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|6a',
       'Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|6b',
       'Public Transport Accessibility Levels (2014)|Average Score|Level3_64',
       'Public Transport Accessibility Levels (2014)|% 0-1 (poor access)|Level3_65',
       'Public Transport Accessibility Levels (2014)|% 2-3 (average access)|Level3_66',
       'Public Transport Accessibility Levels (2014)|% 4-6 (good access)|Level3_67'],
      dtype='object')

In [28]:
df2

,﻿|Level2_0|Codes,﻿|Level2_1|Names,Car or van availability|No cars or vans in household (%)|2011,Car or van availability|1 car or van in household (%)|2011,Car or van availability|2 cars or vans in household (%)|2011,Car or van availability|3 cars or vans in household (%)|2011,Car or van availability|4 or more cars or vans in household (%)|2011,Car or van availability|Cars per household|2011,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|0,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|1a,...,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|2,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|3,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|4,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|5,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|6a,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|6b,Public Transport Accessibility Levels (2014)|Average Score|Level3_64,Public Transport Accessibility Levels (2014)|% 0-1 (poor access)|Level3_65,Public Transport Accessibility Levels (2014)|% 2-3 (average access)|Level3_66,Public Transport Accessibility Levels (2014)|% 4-6 (good access)|Level3_67
0,E01000907,Camden 001A,"61,2","33,0","4,6","1,1","0,0","0,5",0.0,0.0,...,15.0,759.0,439.0,217.0,0.0,0.0,"4,6","0,0","54,1","45,9"
1,E01000908,Camden 001B,"59,5","34,5","5,3","0,5","0,2","0,5",0.0,0.0,...,745.0,303.0,0.0,0.0,0.0,0.0,"2,9","33,7","66,3","0,0"
2,E01000909,Camden 001C,"36,8","44,5","15,1","2,7","0,9","0,9",0.0,0.0,...,1192.0,422.0,0.0,0.0,0.0,0.0,"3,3","0,0","100,0","0,0"
3,E01000912,Camden 001D,"60,6","36,1","3,0","0,3","0,0","0,4",0.0,0.0,...,0.0,928.0,312.0,348.0,0.0,0.0,"4,6","0,0","58,4","41,6"
4,E01000913,Camden 001E,"22,3","42,8","26,7","6,0","2,2","1,2",0.0,51.0,...,1043.0,185.0,8.0,0.0,0.0,0.0,"2,8","27,8","71,8","0,5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004328,Waltham Forest 028B,"49,3","41,4","8,2","0,7","0,3","0,6",0.0,0.0,...,1840.0,0.0,0.0,0.0,0.0,0.0,"3,0","0,0","100,0","0,0"
4831,E01004329,Waltham Forest 028C,"42,8","45,8","9,2","1,8","0,4","0,7",0.0,159.0,...,271.0,0.0,0.0,0.0,0.0,0.0,"2,1","86,0","14,0","0,0"
4832,E01004330,Waltham Forest 028D,"39,4","44,2","14,4","2,1","0,0","0,8",0.0,0.0,...,1800.0,0.0,0.0,0.0,0.0,0.0,"3,0","1,8","98,2","0,0"
4833,E01004331,Waltham Forest 028E,"44,1","44,1","11,1","0,6","0,0","0,7",0.0,6.0,...,1135.0,0.0,0.0,0.0,0.0,0.0,"2,6","38,9","61,1","0,0"
4834,E01004332,Waltham Forest 028F,"50,4","41,1","7,0","1,4","0,2","0,6",0.0,15.0,...,1370.0,223.0,0.0,0.0,0.0,0.0,"3,0","13,8","86,2","0,0"

In [29]:
df2 = pd.read_parquet("../processed_data/filtered_lsoa_data2.parquet")

In [30]:
df2 = df2.drop(columns='﻿|Level2_1|Names')
df2 = df2.rename(columns={'﻿|Level2_0|Codes': 'LSOA Code'})
df2

,LSOA Code,Car or van availability|No cars or vans in household (%)|2011,Car or van availability|1 car or van in household (%)|2011,Car or van availability|2 cars or vans in household (%)|2011,Car or van availability|3 cars or vans in household (%)|2011,Car or van availability|4 or more cars or vans in household (%)|2011,Car or van availability|Cars per household|2011,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|0,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|1a,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|1b,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|2,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|3,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|4,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|5,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|6a,Public Transport Accessibility Levels (2014)|Number of people in each PTAL level:|6b,Public Transport Accessibility Levels (2014)|Average Score|Level3_64,Public Transport Accessibility Levels (2014)|% 0-1 (poor access)|Level3_65,Public Transport Accessibility Levels (2014)|% 2-3 (average access)|Level3_66,Public Transport Accessibility Levels (2014)|% 4-6 (good access)|Level3_67
0,E01000907,"61,2","33,0","4,6","1,1","0,0","0,5",0.0,0.0,0.0,15.0,759.0,439.0,217.0,0.0,0.0,"4,6","0,0","54,1","45,9"
1,E01000908,"59,5","34,5","5,3","0,5","0,2","0,5",0.0,0.0,532.0,745.0,303.0,0.0,0.0,0.0,0.0,"2,9","33,7","66,3","0,0"
2,E01000909,"36,8","44,5","15,1","2,7","0,9","0,9",0.0,0.0,0.0,1192.0,422.0,0.0,0.0,0.0,0.0,"3,3","0,0","100,0","0,0"
3,E01000912,"60,6","36,1","3,0","0,3","0,0","0,4",0.0,0.0,0.0,0.0,928.0,312.0,348.0,0.0,0.0,"4,6","0,0","58,4","41,6"
4,E01000913,"22,3","42,8","26,7","6,0","2,2","1,2",0.0,51.0,423.0,1043.0,185.0,8.0,0.0,0.0,0.0,"2,8","27,8","71,8","0,5"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,E01004328,"49,3","41,4","8,2","0,7","0,3","0,6",0.0,0.0,0.0,1840.0,0.0,0.0,0.0,0.0,0.0,"3,0","0,0","100,0","0,0"
4831,E01004329,"42,8","45,8","9,2","1,8","0,4","0,7",0.0,159.0,1501.0,271.0,0.0,0.0,0.0,0.0,0.0,"2,1","86,0","14,0","0,0"
4832,E01004330,"39,4","44,2","14,4","2,1","0,0","0,8",0.0,0.0,34.0,1800.0,0.0,0.0,0.0,0.0,0.0,"3,0","1,8","98,2","0,0"
4833,E01004331,"44,1","44,1","11,1","0,6","0,0","0,7",0.0,6.0,715.0,1135.0,0.0,0.0,0.0,0.0,0.0,"2,6","38,9","61,1","0,0"
4834,E01004332,"50,4","41,1","7,0","1,4","0,2","0,6",0.0,15.0,241.0,1370.0,223.0,0.0,0.0,0.0,0.0,"3,0","13,8","86,2","0,0"

In [32]:
# Define identifier variables that should not be melted.
id_vars = ['LSOA Code']

# Identify columns to be melted (all columns not in id_vars).
melt_cols = [col for col in df2.columns if col not in id_vars]

# --- Robust Pre-processing for Non-Numeric Values ---
for col in melt_cols:
    df2[col] = df2[col].astype(str)
    df2[col] = df2[col].str.replace(',', '.', regex=False)
    df2[col] = df2[col].str.replace('%', '', regex=False)
    df2[col] = df2[col].str.replace(' ', '', regex=False)
    df2[col] = df2[col].str.replace('-', '', regex=False)
    df2[col] = df2[col].str.replace('N/A', '', case=False, regex=False)
    df2[col] = df2[col].str.replace('nan', '', case=False, regex=False)
    df2[col] = df2[col].replace(r'^\s*$', np.nan, regex=True)


# Melt the DataFrame to transform it from wide to long format.
df_melted = pd.melt(df2,
                    id_vars=id_vars,
                    value_vars=melt_cols,
                    var_name='original_column_name',
                    value_name='value')

print("\n--- df_melted head after initial melt (before numeric conversion) ---")
print(df_melted.head())
print("\n--- df_melted info after initial melt ---")
df_melted.info()

# Convert the 'value' column to numeric, coercing errors to NaN.
df_melted['value'] = pd.to_numeric(df_melted['value'], errors='coerce')

print("\n--- df_melted head after numeric conversion of 'value' ---")
print(df_melted.head())
print("\n--- Sample of PTAL rows in df_melted after numeric conversion ---")
# Filter for PTAL columns and check their values
print(df_melted[df_melted['original_column_name'].str.contains('Public Transport', na=False)].head(10))
print("\n--- Check for NaNs in 'value' for PTAL rows ---")
print(df_melted[df_melted['original_column_name'].str.contains('Public Transport', na=False)]['value'].isnull().sum())


# --- Extract 'data_entry_code' and 'date' from original column names ---
def extract_year_and_code(column_name):
    column_name_str = str(column_name)
    year = None
    data_entry_code = None

    # Attempt to match the '|YYYY' pattern at the end of the string
    match_end_year = re.search(r'\|(\d{4})$', column_name_str)
    if match_end_year:
        year = int(match_end_year.group(1))
        data_entry_code = column_name_str[:match_end_year.start()].strip()
    else:
        # If not, attempt to match the '(YYYY)' pattern anywhere in the string
        match_parentheses_year = re.search(r'\((\d{4})\)', column_name_str)
        if match_parentheses_year:
            year = int(match_parentheses_year.group(1))
            data_entry_code = re.sub(r'\s*\((\d{4})\)\s*', '', column_name_str).strip()
    
    return data_entry_code, year

df_melted[['data_entry_code', 'date']] = df_melted['original_column_name'].apply(
    lambda x: pd.Series(extract_year_and_code(x))
)

print("\n--- df_melted head after extracting 'data_entry_code' and 'date' ---")
print(df_melted.head())
print("\n--- Sample of PTAL rows in df_melted after parsing 'data_entry_code' and 'date' ---")
# Filter for PTAL columns and check parsed components
print(df_melted[df_melted['original_column_name'].str.contains('Public Transport', na=False)].head(10))
print("\n--- Check for NaNs in 'data_entry_code' and 'date' for PTAL rows ---")
ptal_rows = df_melted[df_melted['original_column_name'].str.contains('Public Transport', na=False)]
print(f"NaNs in 'data_entry_code': {ptal_rows['data_entry_code'].isnull().sum()}")
print(f"NaNs in 'date': {ptal_rows['date'].isnull().sum()}")


# Drop rows where 'value', 'date', or 'data_entry_code' are missing.
df_melted.dropna(subset=['value', 'date', 'data_entry_code'], inplace=True)

print("\n--- df_melted head AFTER dropping NaNs ---")
print(df_melted.head())
print("\n--- df_melted info AFTER dropping NaNs ---")
df_melted.info()
print("\n--- Sample of PTAL rows in df_melted AFTER dropping NaNs ---")
print(df_melted[df_melted['original_column_name'].str.contains('Public Transport', na=False)].head(10))


# Ensure 'date' is an integer type.
if 'date' in df_melted.columns and not df_melted['date'].isnull().all():
    df_melted['date'] = df_melted['date'].astype(float).astype(pd.Int64Dtype())


# --- Pivot the DataFrame back to a new wide format ---
if not df_melted.empty:
    df_final = df_melted.pivot_table(index=id_vars + ['date'],
                                     columns='data_entry_code',
                                     values='value',
                                     aggfunc='first',
                                     dropna=False,
                                     ).reset_index()
    df_final.columns.name = None

    print("\n--- Final Processed DataFrame (df_final) ---")
    print(df_final)
    print("\n--- Final df_final columns ---")
    print(df_final.columns.tolist())

    # Example: Display relevant columns if they exist
    if 'Car or van availability|No cars or vans in household (%)' in df_final.columns:
        print("\n--- Sample of relevant columns (Car availability) ---")
        print(df_final[['LSOA Code', 'date', 'Car or van availability|No cars or vans in household (%)']].head())
    
    # Check for presence of PTAL columns after pivot
    ptal_cols_in_final = [col for col in df_final.columns if 'Public Transport Accessibility Levels' in str(col)]
    if ptal_cols_in_final:
        print(f"\n--- Found {len(ptal_cols_in_final)} Public Transport Accessibility Levels columns in df_final ---")
        # Print a sample of some PTAL columns if they exist
        sample_ptal_cols = [col for col in ptal_cols_in_final if 'Average Score' in col or '|0' in col][:5] # Limit to 5 for brevity
        if sample_ptal_cols:
            print("\n--- Sample of relevant columns (PTAL) ---")
            print(df_final[['LSOA Code', 'date'] + sample_ptal_cols].head())
        else:
            print("No specific PTAL sample columns selected to display, but columns are present.")
    else:
        print("\n--- No Public Transport Accessibility Levels columns found in df_final. ---")

else:
    print("DataFrame is empty after processing. Check cleaning steps and column name parsing.")
    df_final = pd.DataFrame()

df_final

--- df_melted head after initial melt (before numeric conversion) ---
   LSOA Code                               original_column_name value
0  E01000907  Car or van availability|No cars or vans in hou...  61.2
1  E01000908  Car or van availability|No cars or vans in hou...  59.5
2  E01000909  Car or van availability|No cars or vans in hou...  36.8
3  E01000912  Car or van availability|No cars or vans in hou...  60.6
4  E01000913  Car or van availability|No cars or vans in hou...  22.3

--- df_melted info after initial melt ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91865 entries, 0 to 91864
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LSOA Code             91865 non-null  object
 1   original_column_name  91865 non-null  object
 2   value                 91865 non-null  object
dtypes: object(3)
memory usage: 2.1+ MB

--- df_melted head after numeric conversion of 'value' ---
   LSOA Code                               original_column_name  value
0  E01000907  Car or van availability|No cars or vans in hou...   61.2
1  E01000908  Car or van availability|No cars or vans in hou...   59.5
2  E01000909  Car or van availability|No cars or vans in hou...   36.8
3  E01000912  Car or van availability|No cars or vans in hou...   60.6
4  E01000913  Car or van availability|No cars or vans in hou...   22.3

--- Sample of PTAL rows in df_melted after numeric conversion ---
       LSOA Code                               original_column_name  value
29010  E01000907  Public Transport Accessibility Levels (2014)|N...    0.0
29011  E01000908  Public Transport Accessibility Levels (2014)|N...    0.0
29012  E01000909  Public Transport Accessibility Levels (2014)|N...    0.0
29013  E01000912  Public Transport Accessibility Levels (2014)|N...    0.0
29014  E01000913  Public Transport Accessibility Levels (2014)|N...    0.0
29015  E01000893  Public Transport Accessibility Levels (2014)|N...    0.0
29016  E01000894  Public Transport Accessibility Levels (2014)|N...    0.0
29017  E01000895  Public Transport Accessibility Levels (2014)|N...    0.0
29018  E01000896  Public Transport Accessibility Levels (2014)|N...    0.0
29019  E01000899  Public Transport Accessibility Levels (2014)|N...    0.0

--- Check for NaNs in 'value' for PTAL rows ---
0

--- df_melted head after extracting 'data_entry_code' and 'date' ---
   LSOA Code                               original_column_name  value  \
0  E01000907  Car or van availability|No cars or vans in hou...   61.2
1  E01000908  Car or van availability|No cars or vans in hou...   59.5
2  E01000909  Car or van availability|No cars or vans in hou...   36.8
3  E01000912  Car or van availability|No cars or vans in hou...   60.6
4  E01000913  Car or van availability|No cars or vans in hou...   22.3

                                     data_entry_code  date
0  Car or van availability|No cars or vans in hou...  2011
1  Car or van availability|No cars or vans in hou...  2011
2  Car or van availability|No cars or vans in hou...  2011
3  Car or van availability|No cars or vans in hou...  2011
4  Car or van availability|No cars or vans in hou...  2011

--- Sample of PTAL rows in df_melted after parsing 'data_entry_code' and 'date' ---
       LSOA Code                               original_column_name  value  \
29010  E01000907  Public Transport Accessibility Levels (2014)|N...    0.0
29011  E01000908  Public Transport Accessibility Levels (2014)|N...    0.0
29012  E01000909  Public Transport Accessibility Levels (2014)|N...    0.0
29013  E01000912  Public Transport Accessibility Levels (2014)|N...    0.0
29014  E01000913  Public Transport Accessibility Levels (2014)|N...    0.0
29015  E01000893  Public Transport Accessibility Levels (2014)|N...    0.0
29016  E01000894  Public Transport Accessibility Levels (2014)|N...    0.0
29017  E01000895  Public Transport Accessibility Levels (2014)|N...    0.0
29018  E01000896  Public Transport Accessibility Levels (2014)|N...    0.0
29019  E01000899  Public Transport Accessibility Levels (2014)|N...    0.0

                                         data_entry_code  date
29010  Public Transport Accessibility Levels|Number o...  2014
29011  Public Transport Accessibility Levels|Number o...  2014
29012  Public Transport Accessibility Levels|Number o...  2014
29013  Public Transport Accessibility Levels|Number o...  2014
29014  Public Transport Accessibility Levels|Number o...  2014
29015  Public Transport Accessibility Levels|Number o...  2014
29016  Public Transport Accessibility Levels|Number o...  2014
29017  Public Transport Accessibility Levels|Number o...  2014
29018  Public Transport Accessibility Levels|Number o...  2014
29019  Public Transport Accessibility Levels|Number o...  2014

--- Check for NaNs in 'data_entry_code' and 'date' for PTAL rows ---
NaNs in 'data_entry_code': 0
NaNs in 'date': 0

--- df_melted head AFTER dropping NaNs ---
   LSOA Code                               original_column_name  value  \
0  E01000907  Car or van availability|No cars or vans in hou...   61.2
1  E01000908  Car or van availability|No cars or vans in hou...   59.5
2  E01000909  Car or van availability|No cars or vans in hou...   36.8
3  E01000912  Car or van availability|No cars or vans in hou...   60.6
4  E01000913  Car or van availability|No cars or vans in hou...   22.3

                                     data_entry_code  date
0  Car or van availability|No cars or vans in hou...  2011
1  Car or van availability|No cars or vans in hou...  2011
2  Car or van availability|No cars or vans in hou...  2011
3  Car or van availability|No cars or vans in hou...  2011
4  Car or van availability|No cars or vans in hou...  2011

--- df_melted info AFTER dropping NaNs ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91865 entries, 0 to 91864
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LSOA Code             91865 non-null  object
 1   original_column_name  91865 non-null  object
 2   value                 91865 non-null  float64
 3   data_entry_code       91865 non-null  object
 4   date                  91865 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.5+ MB

--- Sample of PTAL rows in df_melted AFTER dropping NaNs ---
       LSOA Code                               original_column_name  value  \
29010  E01000907  Public Transport Accessibility Levels (2014)|N...    0.0
29011  E01000908  Public Transport Accessibility Levels (2014)|N...    0.0
29012  E01000909  Public Transport Accessibility Levels (2014)|N...    0.0
29013  E01000912  Public Transport Accessibility Levels (2014)|N...    0.0
29014  E01000913  Public Transport Accessibility Levels (2014)|N...    0.0
29015  E01000893  Public Transport Accessibility Levels (2014)|N...    0.0
29016  E01000894  Public Transport Accessibility Levels (2014)|N...    0.0
29017  E01000895  Public Transport Accessibility Levels (2014)|N...    0.0
29018  E01000896  Public Transport Accessibility Levels (2014)|N...    0.0
29019  E01000899  Public Transport Accessibility Levels (2014)|N...    0.0

                                         data_entry_code  date
29010  Public Transport Accessibility Levels|Number o...  2014
29011  Public Transport Accessibility Levels|Number o...  2014
29012  Public Transport Accessibility Levels|Number o...  2014
29013  Public Transport Accessibility Levels|Number o...  2014
29014  Public Transport Accessibility Levels|Number o...  2014
29015  Public Transport Accessibility Levels|Number o...  2014
29016  Public Transport Accessibility Levels|Number o...  2014
29017  Public Transport Accessibility Levels|Number o...  2014
29018  Public Transport Accessibility Levels|Number o...  2014
29019  Public Transport Accessibility Levels|Number o...  2014

--- Final Processed DataFrame (df_final) ---
      LSOA Code  date  Car or van availability|1 car or van in household (%)  \
0     E01000001  2011                                               32.5
1     E01000001  2014                                                NaN
2     E01000002  2011                                               35.3
3     E01000002  2014                                                NaN
4     E01000003  2011                                               18.1
...         ...   ...                                                ...
9665  E01033744  2014                                                NaN
9666  E01033745  2011                                               51.3
9667  E01033745  2014                                                NaN
9668  E01033746  2011                                               45.7
9669  E01033746  2014                                                NaN

      Car or van availability|2 cars or vans in household (%)  \
0                                                   6.1
1                                                   NaN
2                                                   4.6
3                                                   NaN
4                                                   1.3
...                                                 ...
9665                                                NaN
9666                                               15.2
9667                                                NaN
9668                                                5.0
9669                                                NaN

      Car or van availability|3 cars or vans in household (%)  \
0                                                   1.7
1                                                   NaN
2                                                   1.6
3                                                   NaN
4                                                   0.2
...                                                 ...
9665                                                NaN
9666                                                2.5
9667                                                NaN
9668                                                0.8
9669                                                NaN

      Car or van availability|4 or more cars or vans in household (%)  \
0                                                   0.5
1                                                   NaN
2                                                   0.6
3                                                   NaN
4                                                   0.1
...                                                 ...
9665                                                NaN
9666                                                0.8
9667                                                NaN
9668                                                0.1
9669                                                NaN

      Car or van availability|Cars per household  \
0                                            0.5
1                                            NaN
2                                            0.5
3                                            NaN
4                                            0.2
...                                          ...
9665                                         NaN
9666                                         0.9
9667                                         NaN
9668                                         0.6
9669                                         NaN

      Car or van availability|No cars or vans in household (%)  \
0                                                  59.2
1                                                   NaN
2                                                  58.0
3                                                   NaN
4                                                  80.2
...                                                 ...
9665                                                NaN
9666                                               30.1
9667                                                NaN
9668                                               48.3
9669                                                NaN

      Public Transport Accessibility Levels|% 0-1 (poor access)|Level3_65  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                               39.3
9666                                                NaN
9667                                               65.9
9668                                                NaN
9669                                                0.0

      Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                               50.7
9666                                                NaN
9667                                               34.1
9668                                                NaN
9669                                                5.1

      ...  Public Transport Accessibility Levels|Average Score|Level3_64  \
0     ...                                                NaN
1     ...                                                8.0
2     ...                                                NaN
3     ...                                                8.0
4     ...                                                NaN
...   ...                                                ...
9665  ...                                                3.0
9666  ...                                                NaN
9667  ...                                                2.1
9668  ...                                                NaN
9669  ...                                                5.3

      Public Transport Accessibility Levels|Number of people in each PTAL level:|0  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                                0.0
9666                                                NaN
9667                                               46.0
9668                                                NaN
9669                                                0.0

      Public Transport Accessibility Levels|Number of people in each PTAL level:|1a  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                               83.0
9666                                                NaN
9667                                              496.0
9668                                                NaN
9669                                                0.0

      Public Transport Accessibility Levels|Number of people in each PTAL level:|1b  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                              643.0
9666                                                NaN
9667                                              657.0
9668                                                NaN
9669                                                0.0

      Public Transport Accessibility Levels|Number of people in each PTAL level:|2  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                              559.0
9666                                                NaN
9667                                              553.0
9668                                                NaN
9669                                                0.0

      Public Transport Accessibility Levels|Number of people in each PTAL level:|3  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                              377.0
9666                                                NaN
9667                                               67.0
9668                                                NaN
9669                                               74.0

      Public Transport Accessibility Levels|Number of people in each PTAL level:|4  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                              184.0
9666                                                NaN
9667                                                0.0
9668                                                NaN
9669                                              933.0

      Public Transport Accessibility Levels|Number of people in each PTAL level:|5  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                                0.0
9666                                                NaN
9667                                                0.0
9668                                                NaN
9669                                              457.0

      Public Transport Accessibility Levels|Number of people in each PTAL level:|6a  \
0                                                   NaN
1                                                   0.0
2                                                   NaN
3                                                   0.0
4                                                   NaN
...                                                 ...
9665                                                0.0
9666                                                NaN
9667                                                0.0
9668                                                NaN
9669                                                0.0


,LSOA Code,date,Car or van availability|1 car or van in household (%),Car or van availability|2 cars or vans in household (%),Car or van availability|3 cars or vans in household (%),Car or van availability|4 or more cars or vans in household (%),Car or van availability|Cars per household,Car or van availability|No cars or vans in household (%),Public Transport Accessibility Levels|% 0-1 (poor access)|Level3_65,Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66,...,Public Transport Accessibility Levels|Average Score|Level3_64,Public Transport Accessibility Levels|Number of people in each PTAL level:|0,Public Transport Accessibility Levels|Number of people in each PTAL level:|1a,Public Transport Accessibility Levels|Number of people in each PTAL level:|1b,Public Transport Accessibility Levels|Number of people in each PTAL level:|2,Public Transport Accessibility Levels|Number of people in each PTAL level:|3,Public Transport Accessibility Levels|Number of people in each PTAL level:|4,Public Transport Accessibility Levels|Number of people in each PTAL level:|5,Public Transport Accessibility Levels|Number of people in each PTAL level:|6a,Public Transport Accessibility Levels|Number of people in each PTAL level:|6b
0,E01000001,2011,32.5,6.1,1.7,0.5,0.5,59.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E01000001,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
2,E01000002,2011,35.3,4.6,1.6,0.6,0.5,58.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E01000002,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1436.0
4,E01000003,2011,18.1,1.3,0.2,0.1,0.2,80.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9665,E01033744,2014,NaN,NaN,NaN,NaN,NaN,NaN,39.3,50.7,...,3.0,0.0,83.0,643.0,559.0,377.0,184.0,0.0,0.0,0.0
9666,E01033745,2011,51.3,15.2,2.5,0.8,0.9,30.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9667,E01033745,2014,NaN,NaN,NaN,NaN,NaN,NaN,65.9,34.1,...,2.1,46.0,496.0,657.0,553.0,67.0,0.0,0.0,0.0,0.0
9668,E01033746,2011,45.7,5.0,0.8,0.1,0.6,48.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9669,E01033746,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0

In [33]:
df_final

,LSOA Code,date,Car or van availability|1 car or van in household (%),Car or van availability|2 cars or vans in household (%),Car or van availability|3 cars or vans in household (%),Car or van availability|4 or more cars or vans in household (%),Car or van availability|Cars per household,Car or van availability|No cars or vans in household (%),Public Transport Accessibility Levels|% 0-1 (poor access)|Level3_65,Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66,...,Public Transport Accessibility Levels|Average Score|Level3_64,Public Transport Accessibility Levels|Number of people in each PTAL level:|0,Public Transport Accessibility Levels|Number of people in each PTAL level:|1a,Public Transport Accessibility Levels|Number of people in each PTAL level:|1b,Public Transport Accessibility Levels|Number of people in each PTAL level:|2,Public Transport Accessibility Levels|Number of people in each PTAL level:|3,Public Transport Accessibility Levels|Number of people in each PTAL level:|4,Public Transport Accessibility Levels|Number of people in each PTAL level:|5,Public Transport Accessibility Levels|Number of people in each PTAL level:|6a,Public Transport Accessibility Levels|Number of people in each PTAL level:|6b
0,E01000001,2011,32.5,6.1,1.7,0.5,0.5,59.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E01000001,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
2,E01000002,2011,35.3,4.6,1.6,0.6,0.5,58.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E01000002,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1436.0
4,E01000003,2011,18.1,1.3,0.2,0.1,0.2,80.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9665,E01033744,2014,NaN,NaN,NaN,NaN,NaN,NaN,39.3,50.7,...,3.0,0.0,83.0,643.0,559.0,377.0,184.0,0.0,0.0,0.0
9666,E01033745,2011,51.3,15.2,2.5,0.8,0.9,30.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9667,E01033745,2014,NaN,NaN,NaN,NaN,NaN,NaN,65.9,34.1,...,2.1,46.0,496.0,657.0,553.0,67.0,0.0,0.0,0.0,0.0
9668,E01033746,2011,45.7,5.0,0.8,0.1,0.6,48.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9669,E01033746,2014,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0

In [36]:
def process_dataframe_monthly(df_final: pd.DataFrame) -> pd.DataFrame:
    """
    Processes the input DataFrame to convert yearly data to monthly data,
    expanding the date range from 2010-12 to 2025-03, and filling NaN values
    based on the corresponding yearly data.

    Args:
        df_final (pd.DataFrame): The input DataFrame with 'LSOA Code' and 'date' columns (yearly).

    Returns:
        pd.DataFrame: The processed DataFrame with monthly data and filled NaNs.
    """

    # Ensure 'date' column is of integer type for year handling
    df_final['date'] = df_final['date'].astype(int)

    # Get unique LSOA Codes
    lsoa_codes = df_final['LSOA Code'].unique()

    # Define the range of months to include
    # Create a monthly date range from 2010-12 to 2025-03
    start_date = '2010-12-01'
    end_date = '2025-03-01'
    all_months = pd.date_range(start=start_date, end=end_date, freq='MS') # 'MS' for Month Start frequency

    # Create a DataFrame with all desired LSOA Code and monthly date combinations
    full_monthly_index = pd.MultiIndex.from_product([lsoa_codes, all_months], names=['LSOA Code', 'date'])
    df_expanded_monthly = pd.DataFrame(index=full_monthly_index).reset_index()

    # Extract the year from the monthly dates for merging with original yearly data
    df_expanded_monthly['year_for_merge'] = df_expanded_monthly['date'].dt.year

    # Rename the 'date' column in df_final to 'year_for_merge' for consistent merging
    df_final_renamed = df_final.rename(columns={'date': 'year_for_merge'})

    # Merge the expanded monthly DataFrame with the original yearly data
    # This will associate each month with the data from its corresponding year.
    # The 'date' column in df_merged_monthly will now be the monthly datetime object.
    df_merged_monthly = pd.merge(
        df_expanded_monthly,
        df_final_renamed,
        on=['LSOA Code', 'year_for_merge'],
        how='left'
    )

    # Drop the temporary 'year_for_merge' column
    df_merged_monthly = df_merged_monthly.drop(columns=['year_for_merge'])

    # Sort the DataFrame by LSOA Code and date (monthly). Crucial for ffill/bfill.
    df_merged_monthly = df_merged_monthly.sort_values(by=['LSOA Code', 'date']).reset_index(drop=True)

    # Fill NaN values within each LSOA Code group.
    # Since we merged yearly data, each month within a year will initially have NaNs
    # if the original year had data. ffill() will propagate the yearly data across the months.
    # bfill() is less critical here if yearly data is always present, but good for robustness.
    columns_to_fill = [col for col in df_merged_monthly.columns if col not in ['LSOA Code', 'date']]

    # Apply ffill and bfill within each LSOA Code group
    df_filled_monthly = df_merged_monthly.groupby('LSOA Code')[columns_to_fill].transform(lambda x: x.ffill().bfill())

    # Combine the LSOA Code and date columns with the filled data
    df_final_processed_monthly = pd.concat([df_merged_monthly[['LSOA Code', 'date']], df_filled_monthly], axis=1)

    return df_final_processed_monthly

df_processed_monthly = process_dataframe_monthly(df_final)
df_processed_monthly

,LSOA Code,date,Car or van availability|1 car or van in household (%),Car or van availability|2 cars or vans in household (%),Car or van availability|3 cars or vans in household (%),Car or van availability|4 or more cars or vans in household (%),Car or van availability|Cars per household,Car or van availability|No cars or vans in household (%),Public Transport Accessibility Levels|% 0-1 (poor access)|Level3_65,Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66,...,Public Transport Accessibility Levels|Average Score|Level3_64,Public Transport Accessibility Levels|Number of people in each PTAL level:|0,Public Transport Accessibility Levels|Number of people in each PTAL level:|1a,Public Transport Accessibility Levels|Number of people in each PTAL level:|1b,Public Transport Accessibility Levels|Number of people in each PTAL level:|2,Public Transport Accessibility Levels|Number of people in each PTAL level:|3,Public Transport Accessibility Levels|Number of people in each PTAL level:|4,Public Transport Accessibility Levels|Number of people in each PTAL level:|5,Public Transport Accessibility Levels|Number of people in each PTAL level:|6a,Public Transport Accessibility Levels|Number of people in each PTAL level:|6b
0,E01000001,2010-12-01,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
1,E01000001,2011-01-01,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
2,E01000001,2011-02-01,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
3,E01000001,2011-03-01,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
4,E01000001,2011-04-01,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,2024-11-01,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831616,E01033746,2024-12-01,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831617,E01033746,2025-01-01,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831618,E01033746,2025-02-01,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831619,E01033746,2025-03-01,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0

In [37]:
# Convert the 'date' column to datetime objects first
df_processed_monthly['date'] = pd.to_datetime(df_processed_monthly['date'])

# Then convert the datetime objects to monthly periods
df_processed_monthly['date'] = df_processed_monthly['date'].dt.to_period('M')
df_processed_monthly

,LSOA Code,date,Car or van availability|1 car or van in household (%),Car or van availability|2 cars or vans in household (%),Car or van availability|3 cars or vans in household (%),Car or van availability|4 or more cars or vans in household (%),Car or van availability|Cars per household,Car or van availability|No cars or vans in household (%),Public Transport Accessibility Levels|% 0-1 (poor access)|Level3_65,Public Transport Accessibility Levels|% 2-3 (average access)|Level3_66,...,Public Transport Accessibility Levels|Average Score|Level3_64,Public Transport Accessibility Levels|Number of people in each PTAL level:|0,Public Transport Accessibility Levels|Number of people in each PTAL level:|1a,Public Transport Accessibility Levels|Number of people in each PTAL level:|1b,Public Transport Accessibility Levels|Number of people in each PTAL level:|2,Public Transport Accessibility Levels|Number of people in each PTAL level:|3,Public Transport Accessibility Levels|Number of people in each PTAL level:|4,Public Transport Accessibility Levels|Number of people in each PTAL level:|5,Public Transport Accessibility Levels|Number of people in each PTAL level:|6a,Public Transport Accessibility Levels|Number of people in each PTAL level:|6b
0,E01000001,2010-12,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
1,E01000001,2011-01,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
2,E01000001,2011-02,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
3,E01000001,2011-03,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
4,E01000001,2011-04,32.5,6.1,1.7,0.5,0.5,59.2,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
831615,E01033746,2024-11,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831616,E01033746,2024-12,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831617,E01033746,2025-01,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831618,E01033746,2025-02,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0
831619,E01033746,2025-03,45.7,5.0,0.8,0.1,0.6,48.3,0.0,5.1,...,5.3,0.0,0.0,0.0,0.0,74.0,933.0,457.0,0.0,0.0

In [38]:
df_processed_monthly.to_parquet('../processed_data/filtered_processed_lsoa_data2.parquet')